﻿@page
@model Power_X1_iCT.Pages.Setup.SetupRobotToTrayUnloaderModel
@{
}
@Html.AntiForgeryToken()
<head>
    <link rel="stylesheet" href="~/css/magazineLoader.css" />
</head>
<div class="backgroundImage">
    <img src="~/img/Modules/robot-tray-offloader.png" />
</div>
<div class="container-fluid">
    <div>
        <div style="float: right" class="col-6">
            <div style="display: inline-block">
                <div id="SetupMainRobotToTrayUnloaderContainer" style="display:none;" class="settings">
                    <partial name="Main/RobotToTrayUnloaderSettingsPartial" />
                </div>
                <div id="SetupInspectionContainer" style="display:none;" class="settings">
                    <partial name="Subprocesses/InspectionSettingsPartial" />
                </div>
                <div id="SetupRobotContainer" style="display:none;" class="settings">
                    <partial name="Subprocesses/RobotSettingsPartial" />
                </div>
                <div id="SetupRobotPickContainer" style="display:none;" class="settings">
                    <partial name="Subprocesses/RobotPickSettingsPartial" />
                </div>
                <div id="SetupRobotPlaceContainer" style="display:none;" class="settings">
                    <partial name="Subprocesses/RobotPlaceSettingsPartial" />
                </div>
                <div id="SetupRobotHomeContainer" style="display:none;" class="settings">
                    <partial name="Subprocesses/RobotHomeSettingsPartial" />
                </div>
                <div id="DebugScanningStageContainer" style="display:none;" class="settings">
                    <partial name="Resources/ScanningStageDebugPartial" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6" style="display: inline-block">
    <div class="main-settings-sempro-card">
        <div class="row">
            <form id="ExecuteInitialize" method="post">
                <button class="button" id="ExecuteInitializeButton" title="Initialize">
                    <img src="~/icons/init.png" width="30">
                </button>
            </form>
            <form id="ExecuteStart" method="post">
                <button class="halvebutton" id="ExecuteStartButton" title="Start">
                    <img src="~/icons/play.png" width="40">
                </button>
            </form>
            <form id="ExecuteStop" method="post">
                <button class="halvebutton" id="ExecuteStopButton" title="Stop">
                    <img src="~/icons/stop.png" width="40">
                </button>
            </form>
            <div>
                <div class="statusBar" id="RobotToTrayUnloaderStatus">Ready</div>
            </div>
            <div>
                <div class="stateBar" id="RobotToTrayUnloaderState">Stopped</div>
            </div>
            <div>
                &nbsp;
                <button class="button" title="Setup" id="SetupMainRobotToTrayUnloader" style="float:right; width:50px;">
                    <img src="~/icons/setup.png" width="30">
                </button>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <h5 class="font-weight-bold d-inline-flex settings-label">Processes</h5>
        <div class="row">
            <div>
                <span class="process-label">Inspection</span>
            </div>
            <div>
                <form method="post">
                    <button class="halvebutton" title="Execute" id="ExecuteInspectionToInfeedCommand">
                        <img src="~/icons/arrow_left.png" width="30">
                    </button>
                    <button class="halvebutton" title="Execute" id="ExecuteInspectionCommand">
                        <img src="~/icons/arrow_right.png" width="30">
                    </button>
                </form>
            </div>
            <div class="statusBar" id="InspectionStatus">Ready</div>
            &nbsp;
            <button class="button" title="Setup" id="SetupInspection" style="float:right; width:50px;">
                <img src="~/icons/setup.png" width="30">
            </button>
        </div>
        <div>
            <div class="row">
                <div>
                    <span class="process-label">Robot</span>
                </div>
                <div style="visibility:hidden">
                    <form method="post">
                        <button class="button" title="Execute" >
                            <img src="~/icons/repeat_once.png" width="30">
                        </button>
                    </form>
                </div>
                <div class="statusBar" id="RobotStatus">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupRobot" style="float:right; width: 50px">
                    <img src="~/icons/setup.png" width="30">
                </button>
            </div>
        </div>
        <div>
            <div class="row">
                <div>
                    <span class="process-label">Robot pick</span>
                </div>
                <div>
                    <form method="post">
                        <button class="button" title="Execute" id="ExecuteRobotPickCommand">
                            <img src="~/icons/repeat_once.png" width="30">
                        </button>
                    </form>
                </div>
                <div class="statusBar" id="RobotStatus" style="visibility:hidden">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupRobotPick" style="float:right; width: 50px">
                    <img src="~/icons/setup.png" width="30">
                </button>
            </div>
        </div>
        <div>
            <div class="row">
                <div>
                    <span class="process-label">Robot place</span>
                </div>
                <div>
                    <form method="post">
                        <button class="button" title="Execute" id="ExecuteRobotPlaceCommand">
                            <img src="~/icons/repeat_once.png" width="30">
                        </button>
                    </form>
                </div>
                <div class="statusBar" id="RobotStatus" style="visibility:hidden">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupRobotPlace" style="float:right; width: 50px">
                    <img src="~/icons/setup.png" width="30">
                </button>
            </div>
        </div>
        <div>
            <div class="row">
                <div>
                    <span class="process-label">Robot home</span>
                </div>
                <div>
                    <form method="post">
                        <button class="button" title="Execute" id="ExecuteRobotHomeCommand">
                            <img src="~/icons/repeat_once.png" width="30">
                        </button>
                    </form>
                </div>
                <div class="statusBar" id="RobotStatus" style="visibility:hidden">Ready</div>
                &nbsp;
                <button class="button" title="Setup" id="SetupRobotHome" style="float:right; width: 50px">
                    <img src="~/icons/setup.png" width="30">
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-6">
    <div class="main-settings-sempro-card">
        <div>
            <h5 class="font-weight-bold d-inline-flex settings-label">Resources</h5>
            <div class="row">
                <div>
                    <span class="process-label">Scanning stage</span>
                </div>
                <div>
                        <button class="button" title="Debug" id="DebugScanningStage">
                            <img src="~/icons/tool.png" width="30">
                        </button>
                </div>
                <div class="statusBar" id="ScanningstageStatus">Ready</div>>
            </div>           
                    
         </div>
     </div>
 </div>
 
        

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/RobotToTrayUnloader.js"></script>
<script src="~/js/sempro.js"></script>

<script title="commands">
    $("#ExecuteInitializeButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "Initialize");
    });

    $("#ExecuteStartButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "Start");
    });

    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "Stop");
    });

    $("#ExecuteInspectionToInfeedCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "ToInfeedCommand");
    });

    $("#ExecuteInspectionCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "InspectionCommand");
    });

    $("#ExecuteRobotPickCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "RobotPickCommand");
    });

    $("#ExecuteRobotPlaceCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "RobotPlaceCommand");
    });

    $("#ExecuteRobotHomeCommand").click(function (e) {
        e.preventDefault();
        sendCommand("SetupRobotToTrayUnloader", "RobotHomeCommand");
    });

</script>

<script title="Loaded">
    $(document).ready(function () {
        window.onload = sendCommand("SetupRobotToTrayUnloader", "Loaded");
    })
</script>

<script title="Simulation">
    $(function () {
        $("#Simulation").change(function (e) {
            e.preventDefault();
            sendCommand("SetupRobotToTrayUnloader", "SimulationChanged");
        });
    })
</script>

<script title="Velocity">
    $(function () {
        $("#VelocityPercentage").change(function (e) {
            e.preventDefault();
            var percentage = $("#VelocityPercentage")[0].value;
            // submit form with ajax
            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: './SetupRobotToTrayUnloader?handler=SetVelocityPercentage',
                    data: { percentage: percentage },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error:
                        function (response) {
                            console.log(response);
                            alert("Error: " + "PLC returned error string");
                        }
                });
        });
    });
</script>
