﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Power X1 I-CT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/framework.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/topbar.css" />
    <link rel="stylesheet" href="~/css/startbutton.css" />
    <link rel="stylesheet" href="~/css/togglebutton.css" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/radiobutton.css" />
    <link rel="stylesheet" href="~/css/label.css" />
    <link rel="stylesheet" href="~/css/statusbar.css" />
    <link rel="stylesheet" href="~/css/statebar.css" />
    <link rel="stylesheet" href="~/css/textbox.css" />
    <link rel="stylesheet" href="~/css/settings.css" />
    <link rel="stylesheet" href="~/css/events.css" />
    <link rel="stylesheet" href="~/css/scrollbar.css" />
    <link rel="stylesheet" href="~/css/checkBox.css" />
    <link rel="stylesheet" href="~/css/sempro.css" />
    <link rel="stylesheet" href ="~/css/dropdownbox.css" />
    <link rel="shortcut icon" href="~/icons/favicon.ico" type="image/x-icon">
</head>
<body id="body-pd" class="d-flex flex-column min-vh-100" style="background: var(--primary-color); overflow: hidden;">
    <header id="header">
        <div class="navbar navbar-expand-lg fixed-top top-maximum" id="top-bar">
            <div class="container-fluid">
                <div class="col-2">
                    <a href="~/">                        
                        <img src="~/img/Logo-white.png" id="logo-image" class="logo-maximum"/>
                    </a>
                </div>
                <div id="top-bar-content" class="row col-10">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Lot mode:
                                </label>
                            </div>
                            <div class="col-6">
                                <label style="color:black" id="lotModeLabel">
                                    Continuous
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Secs/Gem:
                                </label>
                            </div>
                            <div class="col-6">
                                <label style="color:black" id="secsGemLabel">
                                    Disabled
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Dry-run:
                                </label>
                            </div>
                            <div class="col-6">
                                <label style="color:black" id="dryRunLabel">
                                    Disabled
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Tool 1 strokes:
                                </label>
                            </div>
                            <div class="col-6">
                                <label style="color:black" id="tool1StrokesLabel">
                                    0
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Tool 2 strokes:
                                </label>
                            </div>
                            <div class="col-6">
                                <label style="color:black" id="tool2StrokesLabel">
                                    0
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    UPH:
                                </label>
                            </div>
                            <div class="col-6">
                                <label style="color:black" id="UPHLabel">
                                    0
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="float:left">
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    Recipe:
                                </label>
                            </div>
                            <div class="col-7">
                                <label style="color:black">
                                    ProductA
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    Version:
                                </label>
                            </div>
                            <div class="col-7">
                                <label style="color:black" id="versionLabel">
                                    @string.Format("V" + typeof(Program).Assembly.GetName().Version)
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label>
                                    Date time:
                                </label>
                            </div>
                            <div class="col-7">
                                <label style="color:black" id="dateTimeLabel">
                                    @DateTime.Now.ToString("dd/MM/yy HH:mm:ss")
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse col-2" id="mob-navbar">
                        <partial name="_loginPartial" />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="body-view" class="body-view-content-maximum">
        <div>
            <div class="l-navbar border-right border-dark" id="nav-bar" style="position:fixed;padding-top:120px">
                <nav class="nav">
                    <div class="sidebar">
                        <div class="row col-1 text-center">
                            <button class="hamburger is-closed" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" id="header-toggle">
                                <span class="hamb-top rounded-pill"></span>
                                <span class="hamb-middle rounded-pill"></span>
                                <span class="hamb-bottom rounded-pill"></span>
                            </button>
                        </div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div class="nav_list" style="width:210px">
                            <div class="row">
                                <a href="/Production/Production" class="nav_link" id="Production">
                                    <img class="bx bx-grid-alt nav_icon" src="~/icons/Production.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Production">
                                    <li>
                                        <a href="/Production/Production" role="button">
                                            <span class="nav_name underline-on-hover">Production</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <a href="/Setup/Setup" class="nav_link" id="Setup">
                                    <img class="bx bx-grid-alt nav_icon" src="~/icons/setup.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Setup">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <span class="nav_name underline-on-hover">Setup</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-sempro">
                                            <div>
                                                <a type="button" class="dropdown-item" href="/Setup/MagazineLoader/MagazineLoader">Loader</a>
                                                <a type="button" class="dropdown-item" href="/Setup/PressModule/SetupPressModule">Press</a>
                                                <a type="button" class="dropdown-item" href="/Setup/RobotToTrayUnloader/SetupRobotToTrayUnloader">Offloader</a>
                                                <a type="button" class="dropdown-item" href="/Setup/SecsGem/SetupSecsGem">SecsGem</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <a href="/Recipe/Recipe" class="nav_link" id="Recipe">
                                    <img class="bx bx-grid-alt nav_icon" src="~/icons/recipe.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Recipe">
                                    <li>
                                        <a href="/Recipe/Recipe" role="button">
                                            <span class="nav_name underline-on-hover">Recipe</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <a href="/Performance/Performance" class="nav_link" id="Performance">
                                    <img class="bx bx-grid-alt nav_icon" src="~/icons/Performance.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Performance">
                                    <li>
                                        <a href="/Performance/Performance" role="button">
                                            <span class="nav_name underline-on-hover">Performance</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row" style="position:relative">
                                <a href="/Event/Event" class="nav_link" id="Event">
                                    <img class="bx bx-grid-alt nav_icon" src="~/icons/events.png" height="40" width="40" style="margin-left:15px;" />
                                </a>
                                <ul class="navbar-nav flex-grow-1 nav_link" style="width:100px;" id="Event">
                                    <li>
                                        <a href="/Event/Event" role="button">
                                            <span class="nav_name  underline-on-hover">Events</span>
                                        </a>
                                    </li>
                                </ul>
                                <span class="errorNotification" id="ErrorNotification" style="display:none">
                                    <span class="count" id="ErrorCount" style="display:none">0</span>
                                </span>
                                <span class="assistNotification" id="AssistNotification" style="display:none">
                                    <span class="count" id="AssistCount" style="display:none">0</span>
                                </span>
                                <span class="warningNotification" id="WarningNotification" style="display:none">
                                    <span class="count" id="WarningCount" style="display:none">0</span>
                                </span>
                                <span class="informationNotification" id="InformationNotification" style="display:none">
                                    <span class="count" id="InformationCount" style="display:none">0</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom:10px;">
                        <button id="start-button">&#xF011;</button>
                        <span id="startedIndicator"></span>
                    </div>
                </nav>
            </div>
        </div>
        @RenderBody()

    </div>
    <div class="container-fluid" style="position:absolute" background="red">
        <!-- Modal for login/register-->
        <div class="modal center fade" role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">

            </div>
        </div>
    </div>
    <footer>
    </footer>

    @Html.AntiForgeryToken()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/framework.js"></script>
    <script src="~/js/eventManager.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script language="javascript">
        $(function () {
            getEventCounts();
            function getEventCounts() {
                $.ajax({
                    url: "../../Event/Event?handler=GetEventCounts",
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error: function (response) {
                        console.log("Error handler");
                        console.log(response);
                        alert("Error: " + "PLC returned error string");
                    },
                    success: function (data) {
                        setEventCountValue("Error", data.errorCount)
                        setEventCountValue("Assist", data.assistCount)
                        setEventCountValue("Warning", data.warningCount)
                        setEventCountValue("Information", data.informationCount)
                    }
                });
                function setEventCountValue(name, value) {
                    var count = document.getElementById(name + "Count");
                    count.textContent = value;
                    var notification = document.getElementById(name + "Notification");

                    if (value == 0) {
                        $(count).hide();
                        $(notification).hide();
                    }
                    else {
                        $(count).show();
                        $(notification).show();
                    }
                }
            }
            getLineState();
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId)

                // Validate that all variables exist
                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show')
                        // change icon
                        toggle.classList.toggle('bx-x')
                        // add padding to body
                        bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                    })
                }
            }
            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

            /*===== ON CLICK ADD ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')
            linkColor.forEach(l => l.classList.remove('active'))

            /*===== ON RELOAD ADD ACTIVE =====*/
            linkColor.forEach(function callbackFn(element) {
                if (document.URL.includes(element.id)) {
                    element.classList.add('active');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });
        });
    </script>
    <script title="Event notifications">
        document.addEventListener("DOMContentLoaded", function () {
            getEventCounts();
        });
        function getEventCounts() {
            $.ajax({
                url: "../../Event/Event?handler=GetEventCounts",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                error: function (response) {
                    console.log("Error handler");
                    console.log(response);
                    alert("Error: " + "PLC returned error string");
                },
                success: function (data) {
                    setEventCountValue("Error", data.errorCount)
                    setEventCountValue("Assist", data.assistCount)
                    setEventCountValue("Warning", data.warningCount)
                    setEventCountValue("Information", data.informationCount)
                }
            });
            function setEventCountValue(name, value) {
                var count = document.getElementById(name + "Count");
                count.textContent = value;
                var notification = document.getElementById(name + "Notification");

                if (value == 0) {
                    $(count).hide();
                    $(notification).hide();
                }
                else {
                    $(count).show();
                    $(notification).show();
                }
            }
        }
    </script>
    <script>
        $(function () {
            $("#start-button").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "../../StartStop?handler=Start",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error: function (response) {
                        console.log("Error handler:" + response.responseText);
                        console.log(response);
                    },
                    success: function (response) {
                        console.log(response);
                        $('#result').text(response.message);
                    }
                });
            });
        })
    </script>

    <script>
        $("body").on("click", "#LoginPartial,#RegisterPartial,#ForgotPasswordPartial", function () {
            var url = "/?handler=" + $(this).attr("id");
            console.log(url)
            $.ajax({
                url: url,
                success: function (data) {
                    $("#exampleModal .modal-dialog").html(data);
                    $("#exampleModal").modal("show");
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            updateClock();
            setInterval(updateValues, 1000);
        });

        function updateValues() {
            updateClock();
            getDryRunState();
            getUPH();
        }

        function updateClock() {
            var m = new Date();
            var dateString =
                ("0" + m.getDate()).slice(-2) + "/" +
                ("0" + (m.getMonth() + 1)).slice(-2) + "/" +
                m.getUTCFullYear() + " " +
                ("0" + m.getHours()).slice(-2) + ":" +
                ("0" + m.getMinutes()).slice(-2) + ":" +
                ("0" + m.getSeconds()).slice(-2);
            document.getElementById('dateTimeLabel').textContent = dateString;
        }
    </script>
</body>
</html>
