﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="row" style="list-style: none;">
    @if (SignInManager.IsSignedIn(User))
    {
        <li style="height:40px;">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="To profile">Hello @User.Identity.Name!</a>
        </li>
        <li>&nbsp;</li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-warning">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li style="height:40px;">
            <button type="button" class="btn btn-warning" id="RegisterPartial">
                Register
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <button type="button" class="btn btn-warning" id="LoginPartial">
                Login
            </button>
        </li>

    }
</ul>


