﻿@page
@model Power_X1_iCT.Pages.Setup.SetupPressModuleModel
@{
}
@Html.AntiForgeryToken()
<head>
    <link rel="stylesheet" href="~/css/magazineLoader.css" />
</head>

    <div class="backgroundImage">
        <img src="~/img/Modules/press-module.png" />
    </div>
    <div class="container-fluid">
        <div>
            <div style="float: right" class="col-6">
                <div style="display: inline-block">
                    <div id="SetupMainPressModuleContainer" style="display:none;" class="settings">
                        <partial name="Main/PressModuleSettingsPartial" />
                    </div>
                    <div id="SetupTrimmingContainer" style="display:none;" class="settings">
                        <partial name="Subprocesses/TrimmingSettingsPartial" />
                    </div>
                    <div id="SetupFormingContainer" style="display:none;" class="settings">
                        <partial name="Subprocesses/FormingSettingsPartial" />
                    </div>
                    <div id="SetupWasteHandlerContainer" style="display:none;" class="settings">
                        <partial name="Subprocesses/WasteHandlerSettingsPartial" />
                    </div>
                </div>
            </div>

            <div class="col-6" style="display: inline-block">
                <div class="main-settings-sempro-card">
                    <div class="row">
                        <form id="ExecuteInitialize" method="post">
                            <button class="button" id="ExecuteInitializeButton" title="Initialize">
                                <img src="~/icons/init.png" width="30">
                            </button>
                        </form>
                        <form id="ExecuteStart" method="post">
                            <button class="halvebutton" id="ExecuteStartButton" title="Start">
                                <img src="~/icons/play.png" width="40">
                            </button>
                        </form>
                        <form id="ExecuteStop" method="post">
                            <button class="halvebutton" id="ExecuteStopButton" title="Stop">
                                <img src="~/icons/stop.png" width="40">
                            </button>
                        </form>
                        <div>
                            <div class="statusBar" id="PressModuleStatus">Ready</div>
                        </div>
                        <div>
                            <div class="stateBar" id="PressModuleState">Stopped</div>
                        </div>
                        <div>
                            &nbsp;
                            <button class="button" title="Setup" id="SetupMainPressModule" style="float:right; width:50px;">
                                <img src="~/icons/setup.png" width="30">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <h5 class="font-weight-bold d-inline-flex settings-label">Processes</h5>
                    <div class="row">
                        <div>
                            <span class="process-label">Trim</span>
                        </div>
                        <div>
                            <form id="ExecuteTrimming" method="post">
                                <button class="button" title="Execute" id="ExecuteTrimmingButton">
                                    <img src="~/icons/repeat_once.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="TrimmingStatus">Ready</div>
                        &nbsp;
                        <button class="button" title="Setup" id="SetupTrimming" style="float:right; width:50px;">
                            <img src="~/icons/setup.png" width="30">
                        </button>
                    </div>
                    <div>
                        <div class="row">
                            <div>
                                <span class="process-label">Waste handler</span>
                            </div>
                            <div>
                                <form method="post">
                                    <button class="button" title="Execute" id="ExecuteWasteHandlerButton" style="visibility: hidden">
                                        <img src="~/icons/repeat_once.png" width="30">
                                    </button>
                                </form>
                            </div>
                            <div class="statusBar" id="WasteHandlerStatus">Ready</div>
                            &nbsp;
                            <button class="button" title="Setup" id="SetupWasteHandler" style="float:right; width: 50px">
                                <img src="~/icons/setup.png" width="30">
                            </button>
                        </div>
                        <div>
                            <div class="row">
                                <div>
                                    <span class="process-label">Dambar check</span>
                                </div>
                                <div>
                                    <form method="post">
                                        <button class="button" title="Execute" id="ExecuteDambarButton">
                                            <img src="~/icons/repeat_once.png" width="30">
                                        </button>
                                    </form>
                                </div>
                                <div class="statusBar" id="DambarStatus">Ready</div>
                                &nbsp;
                                <button class="button" title="Setup" id="SetupDambar" style="float:right; width: 50px" Hidden>
                                    <img src="~/icons/setup.png" width="30">
                                </button>
                            </div>
                            <div class="row">
                                <div>
                                    <span class="process-label">Form</span>
                                </div>
                                <div>
                                    <form method="post">
                                        <button class="button" title="Execute" id="ExecuteFormingButton">
                                            <img src="~/icons/repeat_once.png" width="30">
                                        </button>
                                    </form>
                                </div>

                                <div class="statusBar" id="FormingStatus">Ready</div>
                                &nbsp;
                                <div style="float: right;">
                                    <button class="button" title="Setup" id="SetupForming" style="width:50px;">
                                        <img src="~/icons/setup.png" width="30">
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <span class="process-label">Index handler </span>
                                </div>
                                <div>
                                    <form method="post">
                                        <button class="halvebutton" title="Execute" id="ExecuteIndexerToPickButton">
                                            <img src="~/icons/arrow_left.png" width="30">
                                        </button>
                                        <button class="halvebutton" title="Execute" id="ExecuteIndexerToPlaceButton">
                                            <img src="~/icons/arrow_right.png" width="30">
                                        </button>
                                    </form>
                                </div>
                                <div class="statusBar" id="IndexHandlerStatus">Ready</div>
                                &nbsp;
                                <button class="button" title="Setup" id="SetupIndexToPick" style="float:right; width:50px;" hidden>
                                    <img src="~/icons/setup.png" width="30">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="main-settings-sempro-card">
                    <div>
                        <h5 class="font-weight-bold d-inline-flex settings-label">Resources</h5>
                        <div class="row">
                            <div>
                                <span class="process-label">Trim</span>
                            </div>
                            <div>
                                <form id="ExecuteTrim" method="post">
                                    <button class="button" title="Debug" id="DebugTrim" disabled>
                                        <img src="~/icons/tool.png" width="30">
                                    </button>
                                </form>
                            </div>
                            <div class="statusBar" id="TrimStatus">Ready</div>>
                        </div>
                        <div class="row">
                            <div>
                                <span class="process-label">Form</span>
                            </div>
                            <div>
                                <form method="post">
                                    <button class="button" title="Debug" id="DebugForm" disabled>
                                        <img src="~/icons/tool.png" width="30">
                                    </button>
                                </form>
                            </div>
                            <div class="statusBar" id="FormStatus">Ready</div>
                        </div>
                        <div class="row">
                            <div>
                                <span class="process-label">Indexer</span>
                            </div>
                            <div>
                                <form method="post">
                                    <button class="button" title="Debug" id="DebugIndexer" disabled>
                                        <img src="~/icons/tool.png" width="30">
                                    </button>
                                </form>
                            </div>
                            <div class="statusBar" id="IndexerStatus">Ready</div>
                        </div>
                        <div class="row">
                            <div>
                                <span class="process-label">Vacuum cleaner</span>
                            </div>
                            <div>
                                <form method="post">
                                    <button class="button" title="Debug" id="DebugVacuumCleaner" disabled>
                                        <img src="~/icons/tool.png" width="30">
                                    </button>
                                </form>
                            </div>
                            <div class="statusBar" id="VacuumCleanerStatus">Ready</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/PressModule.js"></script>
        <script src="~/js/sempro.js"></script>

        <script title="commands">
            $("#ExecuteInitializeButton").click(function (e) {
                e.preventDefault();
                sendCommand("SetupPressModule", "Initialize");
            });

            $("#ExecuteStartButton").click(function (e) {
                e.preventDefault();
                sendCommand("SetupPressModule", "Start");
            });

            $("#ExecuteStopButton").click(function (e) {
                e.preventDefault();
                sendCommand("SetupPressModule", "Stop");
            });

            $("#ExecuteTrimmingButton").click(function (e) {
                e.preventDefault();
                sendCommand("SetupPressModule", "Trim");
            });

            $("#ExecuteDambarButton").click(function (e) {
                e.preventDefault();
                sendCommand("SetupPressModule", "Dambar");
            });

            $("#ExecuteFormingButton").click(function (e) {
                e.preventDefault();
                sendCommand("SetupPressModule", "Form");
            });

            $("#ExecuteIndexerToPickButton").click(function (e) {
                e.preventDefault();
                sendCommand("SetupPressModule", "IndexerToPick");
            });

            $("#ExecuteIndexerToPlaceButton").click(function (e) {
                e.preventDefault();
                sendCommand("SetupPressModule", "IndexerToPlace");
            });
        </script>

        <script title="Loaded">
            $(document).ready(function () {
                window.onload = sendCommand("SetupPressModule", "Loaded");
            })
        </script>

        <script title="Simulation">
            $(function () {
                $("#Simulation").change(function (e) {
                    e.preventDefault();
                    sendCommand("SetupPressModule", "SimulationChanged");
                });
            })
        </script>

        <script title="Velocity">
            $(function () {
                $("#VelocityPercentage").change(function (e) {
                    e.preventDefault();
                    var percentage = $("#VelocityPercentage")[0].value;
                    // submit form with ajax
                    $.ajax(
                        {
                            type: 'POST',
                            dataType: 'JSON',
                            url: './SetupPressModule?handler=SetVelocityPercentage',
                            data: { percentage: percentage },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            error:
                                function (response) {
                                    console.log(response);
                                    alert("Error: " + "PLC returned error string");
                                }
                        });
                });
            });
        </script>
