﻿/* CSS */
.button,
.halvebutton,
.smallbutton {
    background: White;
    border:none;
    border-radius: 0.3rem;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 600;
    height: 50px;
    margin: 1px;
}
.button {
    width: 150px;
}
.halvebutton {
    width: 70px;
}
.smallbutton {
    width: 50px;
}

    .button:hover:enabled,
    .halvebutton:hover:enabled,
    .smallbutton:hover:enabled {
        box-shadow: 1px 1px 10px rgba(166, 175, 195, 1);
    }
    .button:disabled,
    .halvebutton:disabled,
    .smallbutton:disabled {
        opacity: 0.2;
    }
    /* When screensize is bigger than 768 pixels*/
    @media (min-width: 768px) {
        .button {
        font-size: 1.125rem;
    }
}

/* When screensize is bigger than 768 pixels*/
@media (min-width: 768px) {
    .halvebutton {
        font-size: 1.125rem;
    }
}

halvebutton execute:hover {
    -webkit-transform: rotate(45deg);
}
