﻿.checkBox {
    width: 50px;
    margin: auto;
    cursor: pointer;
}

.checkBox input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

    .checkBox:hover input ~ .checkmark {
        box-shadow: 0 0 10px black, 0 0 20px black;
    }

    .checkBox input:checked ~ .checkmark {
        background-color: white;
        border-radius: 10px;
    }

.checkmark {
    top: 0;
    left: 0px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 10px;
    display: block;
    border: solid 2px black;
    text-align: center;
}

.checkBox input:checked ~ .checkmark:after {
    display: block;
}

.checkBox .checkmark:after {
    content: "\2714";
    display:none;
    color: black;
    font-size: 30px; 
}

input[type="checkbox"]:disabled ~ .checkmark {
    opacity: 0.4;
}

input[type=checkbox]:disabled ~ .checkmark:hover {
    box-shadow: none;
}

.checkbox label.disabled {
    opacity: 0.1;
}