﻿.main-event-sempro-card {
    background: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    height: 680px;
    border: 4px solid gray;
    -webkit-transition: all 1s ease-in-out;
    border: 1px black solid;
}
    .main-event-sempro-card.show {
        height: 680px;
    }
    .main-event-sempro-card.hide {
        height: 127px;
    }
    .main-event-sempro-card #header {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background: var(--chart-header-color);
        color: white;
        height: 120px;
        border-bottom: 4px solid var(--primary-color);
    }

#content {
    margin-top: 10px;
    color: white;
    height: 1px;
    padding: 1rem;
    font-size: 18px;
}

.sempro-events-card {
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    font-size: 24px;
    background: var(--secondary-color);
    border: 1px black solid;
}

.table-head {
    color: white;
    border-bottom: 2px solid var(--secondary-color);
    text-align: center;
    font-size: 20px;
    background: var(--chart-header-color);
}

.table {
    background: var(--primary-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-collapse: collapse;
    color: white;
    font-size: 16px;
    vertical-align: middle;
}

    .table tr:hover {
        cursor: pointer;
        background: var(--chart-header-color);
    }
    .table hover {
        cursor: none;
    }
table th, tr {
    border-bottom: 2px solid var(--secondary-color);
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
    position: relative;
}
    tr:last-child {
        border-bottom: none;
    }

/*Notifications*/
.errorNotification {
    position: relative;
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(255,0,0,0.5);
    cursor: pointer;
    left: -170px;
    margin-top: 10px;
    background: red;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 10px;
    width: 15px;
    height: 15px;
}

.assistNotification {
    position: relative;
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(255,128,0,0.5);
    cursor: pointer;
    left: -170px;
    margin-top: -4px;
    background: rgb(255,128,0);
    border-radius: 10px;
    color: black;
    font-size: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
}

.warningNotification {
    position: relative;
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(255,255,0,0.5);
    cursor: pointer;
    left: -165px;
    margin-top: -4px;
    background: yellow;
    border-radius: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
}

.informationNotification {
    position: relative;
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(173,216,230,0.5);
    cursor: pointer;
    left: 77px;
    margin-top: -70px;
    background: lightblue;
    border-radius: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
}


