﻿
events{
    height:80%;
}

.underline-on-hover:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: 1s;
}

#tabItemPanel {
    background: rgb(51,51,51);
    border: 4px Black solid;
    width: 150px;
    height: 100%;
}

#systemPanel {
    background: rgb(51,51,51);
    border: 4px Black solid;
    width: 150px;
    height: 100%;
}

.nav_name {
    color: black;
}
    .nav_name:hover {
        color: white;
    }
