﻿.main-grid {
    padding: 2px;
    margin: 5px;
    border-radius: 10px;
}

.backgroundImage {
    position: absolute;
    top: 25px;
    left: 750px;
    Bottom: 0;
    Height: 100vh;
    Opacity: 0.25;
    Z-index: -5000;
    padding: 15px;
}

    .backgroundImage img {
        height: 88vh;
        border-radius: 30px;
    }
