﻿:root {
    --circumference: 141;
}
/*// circumference = 2π * radius
// so in this case circumference = 2π × 22.5 ≈ 141):*/

a, h5, h3 {
    /* Display & Box Model */
    /* Text */
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    /* Appearance */
}

.pie-chart-legend-card {
    background: rgb(57, 65, 101);
    height: 40px;
    width: 170px;
    border-radius: 5px;
    padding: 7px;
    margin: 3px;
    margin-left:-9px;
    display: inline-block;
    min-width:170px;
}

.chart-card {
    background: var(--secondary-color);
    border-radius: 10px;
    width: 320px;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-top: 1px;
    min-width: 320px;
}

.card-line {
    height: 90%;
    display: inline-grid;
    width: 2%;
    float: left;
    background: purple;
}

.card-label {
    color: rgb(200,200,200);
    width: 90%;
    float: right;
}

.svg {
    /* Appearance */
}

.circle {
    /* Appearance */
    stroke-width: 10;
    stroke: #fdded9;
    fill: red;
}

#pie {
    /* Appearance */
    position: absolute;
    stroke: Green;
    stroke-dasharray: 0 var(--circumference);
    stroke-width: 45;
    transition: stroke-dasharray .5s linear;
    box-shadow: 5px 5px 5px rgba(166, 175, 195, 0.5);
}

#uptimePie {
    /* Appearance */
    position: absolute;
    stroke: Green;
    stroke-dasharray: 0 var(--circumference);
    stroke-width: 45;
    transition: stroke-dasharray .5s linear;
}

.wrapper {
    /* Positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    /* Display & Box Model */
    width: 100px;
    /* Appearance */
    /*transform: transform(translate(-50%, -50%));*/
}
