﻿.main-production-image {
    border-radius: 10px;
    width: 65%;
    border: 1px black solid;
}

@media only screen and (max-width: 526px) {
    .main-production-image {
        display: none;
    }
}

.sempro-materialtracking-card {
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
    box-shadow: 0px 10px 5px -3px ;
    color: transparent;
    border: 1px black solid;
}

    .sempro-materialtracking-card.starting {
        animation: blinkgreen 4s infinite;
    }

    .sempro-materialtracking-card.running {
        color: green;
    }

    .sempro-materialtracking-card.stopping {
        animation: blinkyellow 4s infinite;
        color: yellow;
    }

    .sempro-materialtracking-card.stopped {
        color: yellow;
    }

    .sempro-materialtracking-card.error {
        color: red;
    }

@keyframes blinkyellow {
    0% {
        color: transparent;
    }

    50% {
        color: yellow;
    }

    100% {
        color: transparent;
    }
}

@keyframes blinkgreen {
    0% {
        color: transparent;
    }

    50% {
        color: green;
    }

    100% {
        color: transparent;
    }
}

.sempro-lotcontrol-card {
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
    border: 1px black solid;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: 2px;
    cursor: pointer;
    font-size: 22px;
    height: 50px;
    width: 50px;
}

    .checkbox-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkbox-label .checkbox-custom {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border-radius: 5px;
        border: 2px solid #000;
    }


    .checkbox-label input:checked ~ .checkbox-custom {
        background-color: white;
        border-radius: 5px;
        opacity: 1;
        border: 2px solid #000;
    }
.device input:checked ~ .checkbox-custom {
    content: url(../icons/chip2d.png);
    transition: 2s ease-in-out;
}

.magazine input:checked ~ .checkbox-custom {
    content: url(../icons/magazine.png);
    transition: 2s ease-in-out;
}

    .checkbox-label .checkbox-custom::after {
        position: absolute;
        content: "";
        border-radius: 5px;
        opacity: 1;
        transition: all 2s ease-out;
    }


.checkbox-label input:checked ~ .checkbox-custom::after {
    width: 46px;
    height: 46px;
    border: solid 2px white;
    background-color: black;
    border-radius: 10px;
    transition: all 2s ease-out;
}

.tray {
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    font-size: 22px;
    height: 80px;
    width: 80px;
}

    .tray input {
        position: absolute;
        opacity: 0;
    }

.trayLocation {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "overlap";
    padding: 0px;
}

.tray input:checked ~ .tray-image {
    content: url(../icons/Tray.png);
}
.tray input ~ .tray-image {
    transition: 2s ease-in-out;
    display: flex;
    padding: 1px;
    height: 76px;
    width: 75px;
    align-items: center;
    justify-items: center;
    vertical-align: central;
}

.arrow {
    margin: 1em;
    position: relative;
    content: '';
    width: 0;
    height: 5px;
    border: .5em solid transparent;
    border-left-color: black;
}

.conveyor {
    height: 20px;
    border: var(--primary-color) solid;
    border-radius: 10px
}

.indexer {
    height: 5px;
    border: none;
    color: var(--primary-color);
    background-color: var(--primary-color);
    width: 70%;
    left: 10%;
    right: 10%
}
