﻿.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: ease-out 0.2s;
    box-shadow: inset 0 0 0 0.2em rgba(57, 65, 101, 1);
    background: rgba(57, 65, 101, 0.1);
    display: inline-block;
    margin: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000
}

    .option-input:hover {
        box-shadow: inset 0 0 0 0.7em rgba(57, 65, 101, 0.5)
    }

    .option-input:checked {
        box-shadow: inset 0 0 0 0.7em rgba(57, 65, 101, 1);
    }

    .option-input.radio {
        border-radius: 50%;
    }

    .option-input.radio::after {
        border-radius: 50%
    }


/* Underline */
.underline-box .custom-underline::after {
    top: 85%;
    height: 2px;
    width: 0%;
    left: 5%;
    background-color: rgb(57, 65, 101);
    transition: .3s ease all .3s;
}

.underline-box:hover .custom-underline{
    cursor:pointer;
}
.underline-box:hover .custom-underline::after {
    width: 90%;
    transition: .5s ease all;
}

.custom-underline {
    height: 50px;
    position: relative;
    font-size: 24px;
    margin-top: -2px;
    margin-top: -2px;
    cursor: pointer;
}

    .custom-underline::after {
        content: "";
        position: absolute;
    }

.underline-box {
    position: relative;
    width: 100%;
    text-align: left;
}
