﻿
.sempro-recipes-card {
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    background: var(--secondary-color);
}

.recipe-settings-card {
    background: var(--primary-color);
    border-radius: 10px;
    padding: 15px;
    opacity: 0.95;
    border: solid 1px black;
    width: 480px;
}

.recipe-card {
    padding: 25px;
    background: var(--secondary-color);
    border-radius: 10px;
    opacity: 0.95;
    margin-bottom: 10px;
    border: solid 1px black;
}

    .recipe-card label {
        color: rgb(200,200,200);
    }

    .recipe-card h2 {
        text-align: center;
        padding: 5px;
        padding-bottom: 10px;
        color: rgb(200,200,200);
    }

.recipe-settings-image {
    border-radius: 10px;
    border: solid 1px black;
}

.recipe-main-device-image {
    border-radius: 10px;
    display: inline-block;
    width: 100%;
}
.table-head {
    color: white;
    border: 2px solid var(--secondary-color);
    text-align: center;
    font-size: 20px;
    background: var(--chart-header-color);
}

.table {
    background: var(--primary-color);
    border-radius: 15px;
    border-collapse: collapse;
    color: white;
    font-size: 16px;
}

    .table tr:hover {
        cursor: pointer;
        background: var(--chart-header-color);
    }
    .table hover {
        cursor: none;
    }
th, td {
    border: 2px solid var(--secondary-color);
    text-align: center;
}


