﻿::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-button {
       height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
    width: 12px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,15,0.7);
    }

    ::-webkit-scrollbar-thumb:active {
        background: #666666;
    }

::-webkit-scrollbar-track {
    width: 5px;
    background: white;
    border: 5px #ffffff;
    border-radius: 50px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

    ::-webkit-scrollbar-track:hover {
        background: white;
    }

    ::-webkit-scrollbar-track:active {
        background: white;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}


