﻿.default-sempro-card {
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    border:1px black solid;
}

span{
    color:white;
}
:root {
    --primary-color: rgb(65, 65, 101);
    --secondary-color: rgb(31, 37, 61);
    --chart-header-color: rgb(43, 49, 77);
}

.seperator {
    border: 1px solid white;
    border-radius:50px;
}

.sempro-modal {
    padding: 25px;
    min-width: 400px;
    background: var(--primary-color);
    border-radius: 10px;
    opacity: 0.95;
    margin-bottom: 10px;
}
