﻿.settings {
    padding: 25px;
    min-width: 400px;
    background: var(--secondary-color);
    border-radius: 10px;
    opacity: 0.95;
    margin-bottom: 10px;
    border: 1px black solid;
}

    .settings label {
        color: rgb(200,200,200);
    }

    .settings h2 {
        text-align: center;
        padding: 5px;
        padding-bottom: 10px;
        color: rgb(200,200,200);
        font-family: Verdana;
    }

.settings-label {
    color: rgb(200,200,200);
    font-family: Verdana;
}

.settings-card {
    background: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    opacity: 0.95;
    border: 1px black solid;
}

.setup-settings-card {
    background: var(--secondary-color);
    border-radius: 10px;
    width: 320px;
    padding: 30px;
    margin-left: 10px;
    opacity: 0.95;
    border: 1px black solid;
}

.main-settings-sempro-card {
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
    max-width: 630px;
    margin-bottom: 10px;
    opacity: 0.90;
    border: 1px black solid;
}

.process-label {
    width: 200px;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem 0 0.5rem 2rem;
    color: rgb(200,200,200);
    margin-bottom: 1.5rem;
    text-align: center;
}

.module-card {
    margin: 10px;
    border-radius: 10px;
    height: 250px;
    border: 1px black solid;
}
