﻿:root {
    --header-height: 3rem;
    --nav-width: 98px;
    --first-color: #666666;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Verdana', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 1s;
}

a {
    color: Black;
    margin-bottom: 1.5rem;
    transition: 0.5s;
    text-decoration: none;
}

    a:hover {
        color: white;
        text-decoration: none;
        color: var(--white-color);
    }

/* hamburger container */
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

    .header_img img {
        width: 45px
    }

    /* When navbar is opened */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0%;
    width:40px;
    height: 100%;
    background-color: var(--first-color);
    left: 0;
    transition: 1s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;

}
.nav_logo {
    margin-bottom: 2rem;
    align-content: center;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    color: Black;
    margin-bottom: 1.5rem;
    transition: .3s
}

    .nav_link:hover {
        color: var(--white-color);
    }

.nav_icon {
    font-size: 1.25rem
}

#nav_bar {
    padding-top:100px;
}

.show {
    left: 0;
    text-underline-offset: 5px;
    -webkit-transition: all 1s ease-in-out;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color);
    background: gray;   
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: relative;
    top: 0px;
    left: 32px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    padding-left:20px;
}

    .hamburger:hover,
    .hamburger:focus,
    .hamburger:active {
        outline: none;
    }

    /* Default */
    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom,
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: #1a1a1a;
    }

    /* Move to hamburger closed*/
    .hamburger.is-closed .hamb-top {
        top: 5px;
        -webkit-transform: translate3d(0,0,5);
        -webkit-transition: all 0.5s ease-in-out;
    }

    .hamburger.is-closed .hamb-middle {
        top: 50%;
        margin-top: -2px;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all 0.5s ease-in-out;
    }

    .hamburger.is-closed .hamb-bottom {
        bottom: 5px;
        -webkit-transform: translate3d(0,0,-5);
        -webkit-transition: all 0.5s ease-in-out;
    }
    /*Hamburger hover open up*/
    .hamburger.is-closed:hover .hamb-top {
        top: 0;
        -webkit-transition: all 0.5s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-bottom {
        bottom: 0;
        -webkit-transition: all .5s ease-in-out;
    }

    /* Cross position*/ 
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-bottom {
        top: 50%;
        margin-top: -2px;
    }

    /* Change to a cross and move to the width */
    .hamburger.is-open .hamb-top {
        -webkit-transform: translate3d(calc(var(--nav-width) + 60px),0,0) rotate(45deg);
        -webkit-transition: -webkit-transform 1.6s;
        width: 40px;
    }

    .hamburger.is-open .hamb-middle {
        -webkit-transform: translate3d(calc(var(--nav-width) + 60px),0,0);
        -webkit-transition: -webkit-transform 1.6s;
        display: none
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: translate3d(calc(var(--nav-width) + 60px),0,0) rotate(-45deg);
        -webkit-transition: -webkit-transform 1.6s;
        width: 40px;
    }

    /* Hover the cross */
    .hamburger.is-open:hover .hamb-bottom,
    .hamburger.is-open:hover .hamb-top {
        box-shadow: inset 2px 2px 2px 12px black;
    }

@media screen and (min-width: 100px) {
    /* Body when navbar is open/closed */
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    /*Size of navbar*/
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
        width: var(--nav-width);
    }
    /*Size of navbar when open */
    #nav-bar.show {
        width: calc(var(--nav-width) + 156px);
    }

    /*Move body when navbar opens */
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }

    /*Move body when navbar opens */
    .body-maximum {
        padding-left: 20px;
    }

    #nav-bar.hide {
        width: 0;
        left: 0px;
        padding: 0 0 0 0;
    }
}


