section {
	margin: 150px auto 0;
	width: 75px;
	height: 95px;
	position: relative;
	text-align: center;
}
:active, :focus {
	outline: 0;
}
/** Font-Face **/
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format('eot'), 
  	   url("../fonts/fontawesome-webfont.woff") format('woff'), 
  	   url("../fonts/fontawesome-webfont.ttf") format('truetype'), 
  	   url("../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
}
/** Styling the Button **/
#start-button {
	font-family: "FontAwesome";
	text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
	font-size: 32pt;
	bottom: 20px;
	display: block;
	position: relative;
	text-decoration: none;
	box-shadow: 0px 3px 0px 0px rgb(34,34,34), 0px 7px 10px 0px rgb(17,17,17), inset 0px 1px 1px 0px rgba(250, 250, 250, .2), inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
	width: 60px;
	height: 60px;
	border: 0;
	left: 15px;
	color: rgb(37,37,37);
	border-radius: 35px;
	text-align: center;
	outline: none;
	line-height: 70px;
	background-color: rgb(83,87,93);
}
	#start-button:before {
		content: "";
		width: 70px;
		height: 70px;
		display: block;
		z-index: -2;
		position: absolute;
		background-color: rgb(26,27,29);
		left: -5px;
		top: 0px;
		border-radius: 40px;
		box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	}

	/* End position of both items (circles) */
	#start-button:active {
		box-shadow: 0px 0px 0px 0px rgb(34,34,34), 0px 3px 7px 0px rgb(17,17,17), inset 0px 1px 1px 0px rgba(250, 250, 250, .2), inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
		background-color: rgb(83,87,93);
		top: -14px;
	}

	/* When start-button has 'starting' or 'running' class added */
	#start-button.running,
	#start-button.starting {
		box-shadow: 0px 0px 0px 0px rgb(34,34,34), 0px 3px 7px 0px rgb(17,17,17), inset 0px 1px 1px 0px rgba(250, 250, 250, .2), inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
		background-color: rgb(83,87,93);
		top: -14px;
		color: #fff;
		text-shadow: 0px 0px 3px rgb(250,250,250);
		transition: 1s, box-shadow 200ms;
	}
		/* End position of bottom circle */
		#start-button:active:before,
		#start-button.starting:before,
		#start-button.running:before {
			top: -5px;
			background-color: rgb(26,27,29);
			box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
		}
	/* Styling the Indicator light */
	#start-button + #startedIndicator {
		display: block;
		width: 15px;
		height: 15px;
		background-color: rgb(255, 255, 0);
		box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(255,255,0,0.5);
		border-radius: 10px;
		clear: both;
		position: relative;
		bottom: 10px;
		left: 64px;
	}

	/* When start-button has 'starting' or 'stopping' class added -> style the indicator*/
	#start-button.starting + #startedIndicator,
	#start-button.stopping + #startedIndicator {
		animation: startStopAnimation 2s infinite;
	}

	/* When start-button has 'running' class added -> style the indicator*/
	#start-button.running + #startedIndicator {
		box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(36, 145, 12,0.5);
		background-color: rgb(36, 145, 12);
	}

	/* When start-button has 'error' class added -> style the indicator*/
	#start-button.error + #startedIndicator {
		background-color: rgb(226,0,0);
		box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(226,0,0,0.5);
	}
		@-webkit-keyframes startStopAnimation /* Safari and Chrome */ {
			0% {
				background-color: rgb(255, 255, 0);
				box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(255,255,0,0.5);
			}

			50% {
				background: rgb(36, 145, 12);
				box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(36, 145, 12,0.5);
			}

			100% {
				background-color: rgb(255, 255, 0);
				box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(255,255,0,0.5);
			}
		}