﻿.statusBar {
    border-radius: 0.3rem;
    box-sizing: border-box;
    height: 50px;
    background: LightGray;
    padding: 1rem 1rem;
    text-align: center;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    user-select: none;
    transition: 0.5s;
    opacity: 0.4;
    width: 150px;
    border: red 1px solid;
    content: "";
}
    .statusBar.busy {
        background: yellow;
        opacity: 1;
        border: none;
    }

    .statusBar.ready {
        background: green;
        opacity: 1;
        border: none;
    }

    .statusBar.error {
        background: red;
        opacity: 1;
        border: none;
    }

    /* When screensize is bigger than 768 pixels*/
@media (min-width: 768px) {
    .statusBar {
        font-size: 1.125rem;
        margin: 2px 2px;
        width: 150px;
    }

    @media (min-width: 1380px) {
        .statusBar {
            font-size: 1.125rem;
            margin: 2px 2px;
            width: 100px;
        }
    }

    @media (max-width: 980px) {

        .statusBar {
            width: 300px;
        }
    }

    @media (max-width: 970px) {

        .statusBar {
            width: 150px;
        }
    }
}