﻿.stateBar {
    border-radius: 0.3rem;
    box-sizing: border-box;
    height: 50px;
    background: LightGray;
    padding: 1rem 1rem;
    text-align: center;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    user-select: none;
    transition: 0.5s;
    opacity: 0.4;
    width: 150px;
    border: 1px red solid;
}

    .stateBar.starting {
        animation: blink 4s infinite;
        background: yellow;
        border: none;
    }

    .stateBar.running {
        background: green;
        opacity: 1;
        border: none;
    }

    .stateBar.stopping {
        animation: blink 4s infinite;
        background: yellow;
        border: none;
    }
    .stateBar.stopped {
        background: yellow;
        opacity: 1;
        border: none;
    }

    .stateBar.error {
        animation: blink 4s infinite;
        background: red;
        border: none;
    }
@keyframes blink {
    0% {
        opacity: 0.4;
    }

    40% {
        opacity: 1;
        text-shadow: 2px 0px 30px black;      
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }

}

    /* When screensize is bigger than 768 pixels*/
@media (min-width: 768px) {
    .stateBar {
    font-size: 1.125rem;
    margin: 2px 2px;
    width: 150px;
}

    @media (min-width: 1380px) {
        .stateBar {
            font-size: 1.125rem;
            margin: 2px 2px;
            width: 100px;
        }
    }

    @media (max-width: 980px) {

        .stateBar {
            width: 300px;
        }
    }

    @media (max-width: 970px) {

        .stateBar {
            width: 150px;
        }
    }
}