﻿input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: default-button;
    height:50px;
    padding:4px;
    float:right;
    margin-left:5px;
}


/* CSS */
.textbox {
    height: 55px;
    font-size: 16px;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 0.2rem;
    text-align: right;    
    width: 130px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    margin:2px;
}
.textbox:enabled:focus,
.textbox:hover:enabled {
    border: 2px solid black;
}
.textbox:disabled {
    background: lightGray;
    opacity: 0.5;
    border:red;
}

