﻿#top-bar {
    background: #666666;
    border-bottom: black solid 1px;
    transition: 1s ease-in-out;
}
.top-maximum {
    height: 100px;
}

.top-minimum {
    height: 50px;
}

.logo-maximum {
    transition: 1s ease-in-out;
    height: 80px;
}

.logo-minimum {
    transition: 1s ease-in-out;
    height: 40px;
}

.top-bar-content-minimum {
    display: none;
}

.body-view-content-maximum {
    transition: 1s ease-in-out;
    padding-top:50px;
}

.body-view-content-minimum {
    transition: 1s ease-in-out;
    padding-top: 0px;
}
#modal {
    z-index: 2;
    position: absolute;
    left: 40%;
    padding: 5% 0;
    background-color: white;
    text-align: center;
    border-radius: 1em;
    border: 2px solid black;
}

#faded-background {
    z-index: 1;
    background-color: rgba(100, 100, 100, 0.7);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}