﻿<form method="post">
    <button class="button" id="CloseMainMagazineLoader" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<h2>Main settings</h2>
<div>&nbsp;</div>
<div class="settings-card">
    <div class="row">
        <label class="col-5">Simulation</label>
        <form method="post">
            <label class="switch" id="Simulation">
                <input type="checkbox" value="@Model.SimulationEnabled" id="MagazineLoaderSimulation">
                <span class="slider round"></span>
            </label>
        </form>
    </div>
    <div class="row">
        <label for="VelocityPercentage" class="col-5">Velocity percentage</label>
        <input class="textbox" id="VelocityPercentage" name="VelocityPercentage" type="number" runat="server" value="@Model.MagazineLoaderSettingsModel.VelocityPercentage" min="10" max="100" step="10" />
        <label for="VelocityPercentage">%</label>
    </div>
</div>
