﻿@page
@model Power_X1_iCT.Pages.CompareRecipeModel
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/sempro.css">
<div>
    <div class="container-fluid">
        <div style="display: flex; flex-wrap: wrap;">
            <div style="padding: 2px;flex:1">
                <div class="default-sempro-card col-12">
                    <div style="float:right" class="col-1">
                        <div style="padding:2px;">
                            <button class="smallbutton" type="button" onclick="addRecipe1()" disabled id="addRecipeButton1" title="Add recipe">
                                <img src="~/icons/plus.png" width="35">
                            </button>
                        </div>
                    </div>
                    <div style="float:right">
                        <div style="padding:2px;">
                            <button class="smallbutton" type="button" onclick="editRecipe1()" id="editRecipeButton1" title="Edit recipe">
                                <img src="~/icons/edit.png" width="30">
                            </button>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-8" style="display:flex">
                                <h1 style="color:white;">Recipe:</h1>
                            </div>
                            <div class="col-4">
                                <h1 style="color:white" id="recipeName">None</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8" style="display:flex">
                                <h5 style="color: white; margin-left: 2px">Revisions:</h5>
                            </div>
                            <div class="col-4">
                                <h5 style="color:white;margin-left:2px" id="revisions">0 / 0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="default-sempro-card col-12" style="margin-top:10px">
                    <div style="float:right" class="col-1">
                        <div style="padding:2px;">
                            <button class="smallbutton" type="button" title="Edit recipe values" disabled id="editRecipeValues1" onclick="addRecipeValues1()">
                                <img src="~/icons/edit.png" width="30">
                            </button>
                            <button class="smallbutton" type="button" title=" Save graph to PDF" disabled id="saveRecipeValues1">
                                <img src="~/icons/save.png" width="30" />
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="col-11" style="min-height:740px">
                            <canvas id="leftRecipeCanvas" class="col-12" style="background: rgb(57,65,101); border-radius: 10px; height:740px"></canvas>
                        </div>
                    </div>
                    <div style="float:right" class="col-1">
                        <div>
                            <label id="recipe1ValueCount">0/10</label>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding: 2px; flex: 1; display: none;" id="recipe2">
                <div class="default-sempro-card col-12">
                    <div style="float:right" class="col-1">
                        <div style="padding:2px">
                            <button class="smallbutton" onclick="removeRecipe2()" title="Close recipe" id="removeRecipeButton2">
                                <img src="~/icons/close.png" style="width:35px;" />
                            </button>
                        </div>
                    </div>
                    <div style="float:right">
                        <div style="padding:2px;">
                            <button class="smallbutton" type="button" onclick="editRecipe2()" id="editRecipeButton2">
                                <img src="~/icons/edit.png" width="30">
                            </button>

                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-8" style="display:flex">
                                <h1 style="color:white;">Recipe:</h1>
                            </div>
                            <div class="col-4">
                                <h1 style="color:white" id="recipeName2" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8" style="display:flex">
                                <h5 style="color: white; margin-left: 2px">Revisions:</h5>
                            </div>
                            <div class="col-4">
                                <h5 style="color:white;margin-left:2px" id="revisions2">0 / 0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="default-sempro-card col-12" style="margin-top:10px">
                    <div style="float:right" class="col-1">
                        <div style="padding:2px;">
                            <button class="smallbutton" type="button" title="Edit recipe values" onclick="addRecipeValues2()">
                                <img src="~/icons/edit.png" width="30">
                            </button>
                            <button class="smallbutton" type="button" title=" save graph to PDF" disabled>
                                <img src="~/icons/save.png" width="30" />
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="col-11" style="min-height:740px">
                            <canvas id="rightRecipeCanvas" class="col-12" style="background: rgb(57,65,101); border-radius: 10px; height:740px"></canvas>
                        </div>
                    </div>
                    <div style="float:right" class="col-1">
                        <div>
                            <label id="recipe2ValueCount">0/10</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add recipe modal -->
    <div id="addRecipeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add recipe</h4>
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                </div>
                <div class="modal-body">
                    @foreach (var recipeName in Model.RecipeNames)
                    {
                        <div class="row underline-box">
                            <input id="@recipeName" class="option-input radio" type="radio" name="recipeList" value="@recipeName" />
                            <label style="color:black;" for="@recipeName" class="custom-underline">
                                @recipeName
                            </label>
                        </div>
                    }
                    &nbsp;
                    <div class="modal-footer">
                        <button onclick="recipeModalAddRecipe()" class="btn btn-primary" data-dismiss="modal">Add</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add recipe value modal -->
    <div id="addRecipeValueModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add recipe values</h4>
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                </div>
                <div class="modal-body">                  
                    <table class="table" id="recipeValues">
                        <thead class="table-head">
                            <tr>
                                <th>Name</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var value in Model.RecipeValues)
                            {
                            <tr>
                                <td style="vertical-align:middle;padding:4px">@value.Name</td>
                                <td style="vertical-align:middle;padding:4px">
                                    <label class="checkBox">
                                        <input type="checkbox" >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    &nbsp;
                    <div class="modal-footer">
                        <button onclick="recipeModalAddRecipeValues()" class="btn btn-primary" data-dismiss="modal">Add</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/js/chart.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script title="charts">
    var options = {
        maintainAspectRatio: false,
        plugins: {
            legend: {
                display: true,
                labels: {
                    color: 'white',
                    font: { size: 16 }
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: "white",
                    font: {
                        size: 18,
                    },
                    beginAtZero: false
                }
            },
            y: {
                ticks: {
                    color: "white",
                    font: {
                        size: 18,
                    },
                    beginAtZero: false
                }
            },
        }
    };

    const leftRecipeCanvas = document.getElementById('leftRecipeCanvas');
    const leftRecipeChart = new Chart(leftRecipeCanvas, {
        type: 'line',
        options: options
    });

    const rightRecipeCanvas = document.getElementById('rightRecipeCanvas');
    const rightRecipeChart = new Chart(rightRecipeCanvas, {
        type: 'line',
        options: options
    });
</script>

<script>
    var buttonClicked = "none";

    function editRecipe1() {
        buttonClicked = "editRecipe1";
        openAddRecipeModalPopUp();
    }

    function editRecipe2() {
        buttonClicked = "editRecipe2";
        openAddRecipeModalPopUp();
    }

    function addRecipe1() {
        buttonClicked = "addRecipe1";
        openAddRecipeModalPopUp();
    }

    function removeRecipe2() {
        var recipeElement = document.getElementById('recipeName2');
        var revisionElement = document.getElementById('revisions2');
        recipeElement.innerHTML = "None";
        revisionElement.innerHTML = 0 + " / " + 0;
        document.getElementById('recipe2').style.display = "none";
        document.getElementById('addRecipeButton1').disabled = false;
        removeData(rightRecipeChart);
        rightRecipeChart.update();
    }

    function editRecipe1Callback(revisions) {
        var recipeElement = document.getElementById('recipeName');
        var revisionElement = document.getElementById('revisions');       
        recipeElement.innerHTML = revisions[0].CustomerName;
        revisionElement.innerHTML = revisions.length + " / " + revisions.length;
        document.getElementById('addRecipeButton1').disabled = false;
        document.getElementById('editRecipeValues1').disabled = false;     
        removeData(leftRecipeChart);
        leftRecipeChart.update();
    }

    function addRecipe1Callback(revisions) {
        var recipeElement = document.getElementById('recipeName2');
        var revisionElement = document.getElementById('revisions2');      
        recipeElement.innerHTML = revisions[0].CustomerName;
        revisionElement.innerHTML = revisions.length + " / " + revisions.length;
        document.getElementById('recipe2').style.display = "initial";
        document.getElementById('addRecipeButton1').disabled = true;
    }
    function editRecipe2Callback(revisions) {
        var recipeElement = document.getElementById('recipeName2');
        var revisionElement = document.getElementById('revisions2');
        recipeElement.innerHTML = revisions[0].CustomerName;
        revisionElement.innerHTML = revisions.length + " / " + revisions.length;
    }

    function recipeModalAddRecipe() {
        var recipeAddedName = $("input[name='recipeList']:checked").val();
        if (buttonClicked == "editRecipe1") {
            GetRevision(recipeAddedName, editRecipe1Callback);
        }
        else if (buttonClicked == "addRecipe1") {
            GetRevision(recipeAddedName, addRecipe1Callback);
        }
        else if (buttonClicked == "editRecipe2") {
            GetRevision(recipeAddedName, editRecipe2Callback);
        }
    }

    function GetRevision(recipeName, callback) {
        $.ajax({
            type: "POST",
            url: "../Recipe/CompareRecipe?handler=GetRecipeRevisions",
            data: { input: recipeName },
            callbacks: { callback },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
                alert("Error: " + "Unable to get data from webserver");
            },
            success: function (response) {
                console.log(response);
                callback(response);
            }
        });
    }

    function openAddRecipeModalPopUp() {
        $("#addRecipeModal").modal();
    }
</script>

<script>
    function addRecipeValues1() {
        buttonClicked = "addRecipeValues1";
        $("#addRecipeValueModal").modal();
    }

    function addRecipeValues2() {
        buttonClicked = "addRecipeValues2";
        $("#addRecipeValueModal").modal();
    }

    function recipeModalAddRecipeValues() {
        var table = document.getElementById('recipeValues');
        var items = [];

        //Reference the CheckBoxes in Table.
        var checkBoxes = table.getElementsByTagName("input");

        //Loop through the CheckBoxes.
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                var row = checkBoxes[i].parentNode.parentNode.parentNode;
                items.push(row.cells[0].innerHTML);
            }
        }
        var countElement;
        var recipeElementValue;
        var chart;

        if (buttonClicked == "addRecipeValues1") {          
            countElement = document.getElementById('recipe1ValueCount');
            recipeElementValue = document.getElementById('recipeName').innerHTML;
            chart = leftRecipeChart;
        }
        else {
            countElement = document.getElementById('recipe2ValueCount').innerHTML;
            recipeElementValue = document.getElementById('recipeName2').innerHTML;
            chart = rightRecipeChart;
        }
        GetValuesOfRecipeName(chart, recipeElementValue, items, updateAddRecipeValues, countElement);
    }

    function updateAddRecipeValues(chart, dataSets) {
        removeData(chart);

        var colors = ["magenta", "lime", "blue", "green", "red", "gold", "cyan", "darkorchid", "deeppink", "grey", "orangered", "greenyellow", "yellow", "crimson"]
        var index = 0;

        dataSets.forEach((dataSet) => {
            addDataSetToChart(chart, dataSet, colors[index]);
            index++;
        });
        chart.update();
    }

    function removeData(chart) {
        chart.data.datasets.length = 0;
    }

    function GetValuesOfRecipeName(chart, recipeName, values, callback, countElement) {
        $.ajax({
            type: "POST",
            url: "../Recipe/CompareRecipe?handler=GetValuesOfRecipeName",
            data: { recipeName: recipeName, valueNames:values },
            callbacks: { callback },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
                alert("Error: " + "Unable to get data from webserver");
            },
            success: function (response) {
                console.log(response);
                callback(chart, response);
                countElement.innerHTML = response.length + "/10";
            }
        });
    }

    function addDataSetToChart(chart, dataSet, color) {
        dataSet.data = dataSet.Data;
        dataSet.backgroundColor = "white";
        dataSet.borderColor = color;
        dataSet.showLine = true;
        dataSet.label = dataSet.Name;
        chart.data.datasets.push(dataSet);
    }
</script>

