﻿@page
@model Power_X1_iCT.Pages.EditRecipeModel
@{
}
&nbsp;
<link rel="stylesheet" href="~/css/recipe.css" />
<form method="post" class="needs-validation" novalidate>
    <div>
        <div class="row">
            <h1 style="color:white">Recipe: @Model.Recipe.CustomerName</h1>
        </div>
        <input name="CustomerName" type="text" asp-for="@Model.Recipe.CustomerName" hidden />
    </div>
    &nbsp;
    <div style="float:right">
        <button class="smallbutton" formaction="./EditRecipe?handler=SaveRecipe" title="Save recipe" style="width:50px; height:50px" type="submit">
            <img src="~/icons/save.png" width="30">
        </button>
        <button class="smallbutton" onclick="location.href='/Recipe/Recipe'" title="Close recipe" style="width:50px; height:50px">
            <img src="~/icons/close.png" style="width:35px;" />
        </button>
    </div>


    <div class="row">
        <div>
            <div class="default-sempro-card">
                <div>
                    <button class="smallbutton" id="SetupMagazineRecipe" style="padding:0px; height:80px; width:80px">
                        <img src="~/img/magazine.png" style="border-radius: 5px; height:80px; width:80px " title="Magazine" />
                    </button>
                </div>
                &nbsp;
                <div>
                    <button class="smallbutton" id="SetupDeviceRecipe" style="padding: 0px; height: 80px; width:80px">
                        <img src="~/img/device.png" style="border-radius: 5px; height: 80px; width: 80px; display: block; margin: auto" title="Device" />
                    </button>
                </div>
                &nbsp;
                <div>
                    <button class="smallbutton" id="SetupTrayRecipe" style="padding: 0px; height: 80px; width:80px">
                        <img src="~/img/tray.png" style="border-radius: 5px; height: 80px; width: 80px; display: block; margin: auto " title="Tray" />
                    </button>
                </div>
                &nbsp;
                <div>
                    <button class="smallbutton" id="SetupTrimRecipe" style="padding: 0px; height: 80px; width:80px">
                        Tool 1
                        @*<img src="~/img/magazine.png" style="border-radius: 5px; height:80px; width:80px " title="Trim" />*@
                    </button>
                </div>
                &nbsp;
                <div>
                    <button class="smallbutton" id="SetupFormRecipe" style="padding: 0px; height: 80px; width:80px">
                        Tool 2
                        @*<img src="~/img/device.png" style="border-radius: 5px; height: 80px; width: 80px; display: block; margin: auto" title="Form" />*@
                    </button>
                </div>
                &nbsp;
                <div>
                    <button class="smallbutton" id="SetupRobotTrayRecipe" style="padding: 0px; height: 80px; width:80px">
                        <img src="~/icons/robot.png" style="border-radius: 5px; height: 75px; width: 75px; display: block; margin: auto" title="robot" />
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div>
            <div id="SetupMagazineRecipeContainer" style="display:none">
                <partial name="MagazineRecipePartial" />
            </div>
        </div>
        <div>
            <div id="SetupDeviceRecipeContainer" style="display:none">
                <partial name="DeviceRecipePartial" />
            </div>
        </div>
        <div>
            <div id="SetupTrayRecipeContainer" style="display:none">
                <partial name="TrayRecipePartial" />
            </div>
        </div>
        <div>
            <div id="SetupTrimRecipeContainer" style="display:none">
                <partial name="TrimRecipePartial" />
            </div>
        </div>
        <div>
            <div id="SetupFormRecipeContainer" style="display:none">
                <partial name="FormRecipePartial" />
            </div>
        </div>
        <div>
            <div id="SetupRobotTrayRecipeContainer" style="display:none">
                <partial name="RobotTrayRecipePartial" />
            </div>
        </div>
    </div>   
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sempro.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>

    function enforceNumberValidation(ele) {
        if ($(ele).data('decimal') != null) {
            // found valid rule for decimal
            var decimal = parseInt($(ele).data('decimal')) || 0;
            var val = $(ele).val();
            if (decimal > 0) {
                var splitVal = val.split('.');
                if (splitVal.length == 2 && splitVal[1].length > decimal) {
                    // user entered invalid input
                    $(ele).val(splitVal[0] + '.' + splitVal[1].substr(0, decimal));
                }
            } else if (decimal == 0) {
                // do not allow decimal place
                var splitVal = val.split('.');
                if (splitVal.length > 1) {
                    // user entered invalid input
                    $(ele).val(splitVal[0]); // always trim everything after '.'
                }
            }
        }
    }

    function SaveRecipe() {
        sendCommand("EditRecipe", "SaveRecipe");
    }
</script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener(
                    "submit",
                    function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            //alert("An invalid item stops the recipe from saving: " + form.querySelectorAll(':invalid')[0].id);
                            //use parentelements of the field that is incorrect to show the container of the failed element (this will fail if there are more nested values)
                            var containerId = "#" + form.querySelectorAll(':invalid')[0].parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.id;
                            showProcessContainer(containerId);
                        }
                    }, false);
                form.classList.add('was-validated');
            })
    })()
</script>

<script>
    $("#CloseMagazineRecipe").click(function (e) {
        e.preventDefault();
        $("#SetupMagazineRecipeContainer").hide();      
    });

    $("#CloseDeviceRecipe").click(function (e) {
        e.preventDefault();
        $("#SetupDeviceRecipeContainer").hide();
    });

    $("#CloseTrayRecipe").click(function (e) {
        e.preventDefault();
        $("#SetupTrayRecipeContainer").hide();
    });

    $("#CloseTrimRecipe").click(function (e) {
        e.preventDefault();
        $("#SetupTrimRecipeContainer").hide();
    });

    $("#CloseFormRecipe").click(function (e) {
        e.preventDefault();
        $("#SetupFormRecipeContainer").hide();
    });

    $("#CloseRobotTrayRecipe").click(function (e) {
        e.preventDefault();
        $("#SetupRobotTrayRecipeContainer").hide();
    });

    function OnClickProcessSettingsButton(e, nameOfContainer) {
        e.preventDefault();
        var item = $(nameOfContainer);
        if (item[0].style.display == "none") {
            hideProcessContainers();
            item.show();
            return;
        }
        hideProcessContainers();
    }

    function showProcessContainer(nameOfContainer) {
        var item = $(nameOfContainer);
        hideProcessContainers();
        item.show();
    }

    $("#SetupMagazineRecipe").click(function (e) {
        OnClickProcessSettingsButton(e, "#SetupMagazineRecipeContainer");       
    });

    $("#SetupDeviceRecipe").click(function (e) {
        OnClickProcessSettingsButton(e, "#SetupDeviceRecipeContainer");
    });

    $("#SetupTrayRecipe").click(function (e) {
        OnClickProcessSettingsButton(e, "#SetupTrayRecipeContainer");
    });

    $("#SetupTrimRecipe").click(function (e) {
        OnClickProcessSettingsButton(e, "#SetupTrimRecipeContainer");
    });

    $("#SetupFormRecipe").click(function (e) {
        OnClickProcessSettingsButton(e, "#SetupFormRecipeContainer");
    });

    $("#SetupRobotTrayRecipe").click(function (e) {
        OnClickProcessSettingsButton(e, "#SetupRobotTrayRecipeContainer");
    });

    function hideProcessContainers() {
        $("#SetupMagazineRecipeContainer").hide();        
        $("#SetupDeviceRecipeContainer").hide();
        $("#SetupTrayRecipeContainer").hide();
        $("#SetupTrimRecipeContainer").hide();
        $("#SetupFormRecipeContainer").hide();
        $("#SetupRobotTrayRecipeContainer").hide();
    }
</script>
