﻿@page
@model Power_X1_iCT.Pages.RecipeModel
@{
}
<link rel="stylesheet" href="~/css/recipe.css" />
<div class="default-sempro-card">
    <div class="row">
        <div class="col-10">
            <div class="settings-card" style="margin-left:30px;padding:30px">
                <h1 style="color:white">Actual</h1>
                <div class="row">
                    <div class="col-6">
                        <a href="@Url.Content("~/Recipe/EditRecipe?recipe=" + Model.CurrentRecipe.Name)">
                            <img src="~/img/device.png" class="recipe-main-device-image" title="Edit product" />
                        </a>
                    </div>
                    <div class="col-6" style="font-size:20px;">
                        &nbsp;
                        <div class="row">
                            <label class="col-4">Title: </label>
                            <label style="color:white">@Model.CurrentRecipe.Name</label>
                        </div>
                        <div class="row">
                            <label class="col-4">Created: </label>
                            <label style="color:white">@Model.CurrentRecipe.Created</label>
                        </div>
                        <div class="row">
                            <label class="col-4">Last modified: </label>
                            <label style="color:white">@Model.CurrentRecipe.LastModified</label>
                        </div>
                        <div class="row">
                            <label class="col-4">Released: </label>
                            @if (Model.CurrentRecipe.Released)
                            {
                                <img src="../icons/green_checkmark.png" width="30" height="30">
                            }
                            else
                            {
                                <img src="../icons/red_cross.png" width="30" height="30">
                            }
                        </div>
                        <div class="row">
                            <label class="col-4">Last saved by: </label>
                            <label style="color:white">@Model.CurrentRecipe.LastModifiedBy</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2" style="display:flex;align-content:flex-end;justify-content:end;">
            <button class="button" style="margin-right: 30px" title="Compare recipe" onclick="location.href = 'CompareRecipe'">
                <img src="~/icons/compare_recipe.png" width="80">
            </button>
        </div>
    </div>
    <div class="sempro-recipes-card" style="height: 450px">
        <div style="max-height:400px; overflow:auto;">
            <table class="table">
                <thead class="table-head" style="position:sticky; top:0; z-index:1; opacity:0.8">
                    <tr>
                        <th style="width: 220px;">Created</th>
                        <th>Title</th>
                        <th style="width: 220px;">Last modified</th>
                        <th style="width: 150px;">Released</th>
                        <th style="width: 50px;"></th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>

                <tbody id="tblRecipe">
                </tbody>
            </table>
        </div>

        <!-- Copy recipe modal -->
        <div id="copyRecipeModal" class="modal fade">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Copy recipe</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="needs-validation" novalidate id="newRecipeForm">
                            <div class="form-group row">
                                <label class="col-6" for="new-recipe" style="color: black; font-size: 16px">New recipe name</label>
                                <input id="new-recipe" name="ToName" class="form-control textbox col-5 is-invalid" placeholder="New recipe name" />
                                <div class="invalid-feedback row" style="font-size: 16px; margin-left:30%" id="validationNewRecipe">
                                    Unique and not empty name is required!
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-6" for="CopyRecipe" style="color: black; font-size: 16px; ">Copy from</label>
                                <input id="CopyRecipe" name="FromName" value="Undefined" class="textbox col-5" style="border: 0px" readonly />
                            </div>

                            &nbsp;
                            <div class="modal-footer">
                                <input type="button" value="Copy" onclick="validateCopyRecipeName()" class="btn btn-primary">
                                <input type="submit" value="Copy" asp-page-handler="CopyRecipe" class="btn btn-primary" id="copy-button" hidden>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Delete recipe modal -->
        <div id="deleteRecipeModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete recipe</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="needs-validation" novalidate id="newRecipeForm">
                            <div class="form-group row">
                                <label class="col-7" for="DeleteRecipe" style="color: black; font-size: 16px; ">Are you sure you want to delete the recipe? </label>
                                <input id="DeleteRecipe" name="input" value="Undefined" class="textbox col-5" style="border: 0px" readonly />
                            </div>

                            &nbsp;
                            <div class="modal-footer">
                                <input type="submit" value="Delete" asp-page-handler="DeleteRecipe" class="btn btn-primary">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Rename recipe modal -->
        <div id="renameRecipeModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Rename recipe</h4>
                        <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="needs-validation" novalidate id="renameRecipeForm">
                            <div class="form-group row">
                                <label class="col-6" for="CopyRecipe" style="color: black; font-size: 16px; ">Old recipe name</label>
                                <input id="old-recipe" name="FromName" value="Undefined" class="textbox col-5" style="border: 0px" readonly />
                            </div>
                            <div class="form-group row">
                                <label class="col-6" for="new-recipe" style="color: black; font-size: 16px">New recipe name</label>
                                <input id="rename-recipe" name="ToName" class="form-control textbox col-5 is-invalid" placeholder="New recipe name" />
                                <div class="invalid-feedback row" style="font-size: 16px; margin-left:30%" id="validationRenameRecipe">
                                    Unique and not empty name is required!
                                </div>
                            </div>
                            &nbsp;
                            <div class="modal-footer">
                                <input type="button" value="Rename" onclick="validateRenameRecipeName()" class="btn btn-primary">
                                <input type="submit" value="Rename" asp-page-handler="RenameRecipe" class="btn btn-primary" id="rename-button" hidden>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/sempro.js"></script>
<script>
    $(document).ready(function () {
        updateRecipeTable();
    })
    function CopyRecipe(recipeName) {
        sendCommand("Recipe", "CopyRecipe", recipeName);
        setTimeout(function () {
            updateRecipeTable();
        }, 200);
    }
    function DeleteRecipe(recipeName) {
        sendCommand("Recipe", "DeleteRecipe", recipeName);
        setTimeout(function () {
            updateRecipeTable();
        }, 200);
    }

    function updateRecipeTable() {
        var $tbl = $('#tblRecipe');

        if ($tbl == null) {
            return;
        }
        $.ajax({
            url: "Recipe?handler=GetRecipeModels",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
                alert("Error: " + "PLC returned error string");
            },
            success: function (data) {
                $tbl.empty();

                $.each(data.recipeModels, function (i, item) {
                    var image = "../icons/green_checkmark.png";

                    if (!item.Released)
                        image = "../icons/red_cross.png";

                    $tbl.append
                        (
                            '<tr>' +
                            '<td title="Edit recipe" style="vertical-align:middle" onclick="location.href = \'/Recipe/EditRecipe?recipe=' + item.Name + '\'">' + item.Created + "</td>" +
                            '<td title="Edit recipe">' + '<div background:blue" title="Edit recipe"><button class="smallbutton" style="float:right" title="Rename" onclick="openRenameRecipeModalPopUp(\'' + item.Name + '\')">' + '<img src="../icons/edit.png" width="30">' + "</button></div>" + '<div style="line-height:50px"> <div style="vertical-align:middle;" onclick="location.href = \'/Recipe/EditRecipe?recipe=' + item.Name + '\'">' + item.Name + '</div>' + '</div>' + "</td>" +
                            '<td title="Edit recipe" style="vertical-align:middle" onclick="location.href = \'/Recipe/EditRecipe?recipe=' + item.Name + '\'">' + item.LastModified + "</td>" +
                            '<td title="Edit recipe" style="vertical-align:middle" onclick="location.href = \'/Recipe/EditRecipe?recipe=' + item.Name + '\'">' + '<img src="' + image + '" width="30">' + "</td>" +
                            '<td style="width:50px"> <button class="smallbutton" title="Copy" onclick="openCopyRecipeModalPopUp(\'' + item.Name + '\')">' + '<img src="../icons/copy.png" width="30">' + "</button>" + "</td>" +
                            '<td> <button class="smallbutton" title="Delete" onclick="openDeleteRecipeModalPopUp(\'' + item.Name + '\')">' + '<img src="../icons/bin.png" width="30">' + "</button>" + "</td>" +
                            '</tr>'
                        );
                });
            }
        });
    }
</script>

<script>
    function openCopyRecipeModalPopUp(name) {
        document.getElementById("CopyRecipe").value = name;
        $("#copyRecipeModal").modal();
    }

    function openDeleteRecipeModalPopUp(name) {
        document.getElementById("DeleteRecipe").value = name;
        $("#deleteRecipeModal").modal();
    }

    function openRenameRecipeModalPopUp(name) {
        document.getElementById("old-recipe").value = name;
        $("#renameRecipeModal").modal();
    }
</script>
<script>
    var newRecipeForm = document.getElementById("newRecipeForm");
    let newRecipeElement = document.getElementById("new-recipe");
    newRecipeElement.addEventListener('change', function (event) {

        /* If the value changes, remove validation */
        $(newRecipeElement).removeClass("is-invalid");
        newRecipeElement.setCustomValidity("");
        newRecipeForm.classList.remove('was-validated');
    }, false);

    function validateCopyRecipeName() {
        validateRecipeName(newRecipeForm, newRecipeElement, newRecipeElement.value);
    }

    var renameRecipeForm = document.getElementById("renameRecipeForm");
    let renameRecipeElement = document.getElementById("rename-recipe");
    renameRecipeElement.addEventListener('change', function (event) {

        /* If the value changes, remove validation */
        $(renameRecipeElement).removeClass("is-invalid");
        renameRecipeElement.setCustomValidity("");
        renameRecipeForm.classList.remove('was-validated');
    }, false);

    function validateRenameRecipeName() {
        validateRecipeName(renameRecipeForm, renameRecipeElement, renameRecipeElement.value);
    }

    function setRecipeValidity(form, element, valid) {

        $(element).removeClass("is-valid");
        $(element).removeClass("is-invalid");
        form.classList.add('was-validated');

        if (valid) {
            $(element).addClass("is-valid");
            element.setCustomValidity("");
            //Because validation is no longer in the 'submit' button thread (but after an async ajax call)
            // we need to make another hidden button and 'click' on it, to submit the form
            $(form).find(':submit').click();
        }
        else {
            $(element).addClass("is-invalid");
            element.setCustomValidity("invalid");
        }
    }

    function validateRecipeName(form, element, val) {
        let url = "./Recipe?handler=ValidateNewRecipename";
        $.ajax({
            type: "POST",
            url: url,
            data: { input: val },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
            },
            success: function (data) {
                setRecipeValidity(form, element, data.data);
            }
        });
    }
</script>

