﻿<div class="recipe-card">
    <div class="row">
        <div class="col-sm-10">
            <h2>Robot outfeed recipe</h2>
        </div>
        <div class="col-sm-2">
            <div method="post" style="float:right">
                <button class="smallbutton" id="CloseRobotTrayRecipe" title="Close settings">
                    <img src="~/icons/close.png" style="width:35px; padding:1px" />
                </button>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-12">
            <div class="recipe-settings-card">
                <div class="row">
                    <label for="DefaultVelocityPercentage" class="col-7">Default velocity percentage</label>
                    <input class="textbox form-control" id="DefaultVelocityPercentage" name="Robot.DefaultVelocityPercentage" type="number" value="@Model.Recipe.Robot.DefaultVelocityPercentage" min="10" max="100" step="5" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                    <label for="DefaultVelocityPercentage">#</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 10 and 100!
                    </div>
                </div>
                <div class="row">
                    <label for="PocketOffSetX" class="col-7">Number of outfeed locations</label>
                    <input class="textbox form-control" id="PocketOffSetX" name="Robot.Count" type="number" value="@Model.Recipe.Robot.Count" min="1" max="6" step="1" data-decimal="0" oninput="enforceNumberValidation(this)" required />
                    <label for="PocketOffSetX">#</label>
                    <div class="invalid-feedback row" style="margin-left:40%">
                        Please fill in a value between 1 and 6!
                    </div>
                </div>
                <div class="row ">
                    <label for="tray1" class="col-7">Tray 1</label>
                    <div class="custom-select">
                        <select id="tray1" name="Robot.Tray1">
                            <option value="Disabled">Ok</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="tray2" class="col-7">Tray 2</label>
                    <div class="custom-select">
                        <select id="tray2" name="Robot.Tray2">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="tray3" class="col-7">Tray 3</label>
                    <div class="custom-select">
                        <select id="tray3" name="Robot.Tray3">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="tray4" class="col-7">Tray 4</label>
                    <div class="custom-select">
                        <select id="tray4" name="Robot.Tray4">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="tray5" class="col-7">Tray 5</label>
                    <div class="custom-select">
                        <select id="tray5" name="Robot.Tray5">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="tray6" class="col-7">Tray 6</label>
                    <div class="custom-select">
                        <select id="tray6" name="Robot.Tray6">
                            <option value="Disabled">Disabled</option>
                            <option value="Disabled">Disabled</option>
                            <option value="Ok">Ok</option>
                            <option value="Reject">Reject</option>
                            <option value="Rework">Rework</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", function (event) {

    var tray1 = document.getElementById("tray1")
        tray1.value = "@Model.Recipe.Robot.Tray1";

    var tray2 = document.getElementById("tray2")
        tray2.value = "@Model.Recipe.Robot.Tray2";

    var tray3 = document.getElementById("tray3")
        tray3.value = "@Model.Recipe.Robot.Tray3";

    var tray4 = document.getElementById("tray4")
        tray4.value = "@Model.Recipe.Robot.Tray4";

    var tray5 = document.getElementById("tray5")
        tray5.value = "@Model.Recipe.Robot.Tray5";

    var tray6 = document.getElementById("tray6")
        tray6.value = "@Model.Recipe.Robot.Tray6";


    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {      
   
    var x, i, j, l, ll, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    l = x.length;
    for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        yl = y.length;
                        for (k = 0; k < yl; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < xl; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
        document.addEventListener("click", closeAllSelect);
    });
</script>
