﻿@page
@model Power_X1_iCT.Pages.Setup.SecsGem.IndexModel
@{
}
@Html.AntiForgeryToken()


<div class="main-settings-sempro-card" style="width: 1000px">
    <h2 style="color:whitesmoke; text-align:center">Setup SecsGem</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row" style="margin-left: 10px">
            <div class="col-sm-6">
                <label>SecsGem:</label>
            </div>
            <div class="col-sm-1 ">
                <img src="~/icons/info.png" style="height: 20px; width:20px; cursor:pointer" data-content="This will disable or enable the connection to the host immediately." data-toggle="popover" data-placement="right"/>
            </div>
            <div class="col-sm-5">
                <label class="switch">
                    <input type="checkbox" disabled>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row" style="margin-left: 10px">
            <div class="col-sm-6">
                <label>Ip adress:</label>
            </div>
            <div class="col-sm-1">
                <img src="~/icons/info.png" style="height: 20px; width: 20px; cursor:pointer" data-content="If PASSIVE, then the IP address will must be local ip and the TCP port will be the port you want the host to connect to.  If ACTIVE, the IP address will be the name or dotted integer format IP address of the host machine and the TCP port will be the host port for the equipment to connect to." data-toggle="popover" data-placement="right"/>
            </div>
            <div class="col-sm-5">
                <input style="width:200px" placeholder="192.168.238.100:5000" disabled />
            </div>
        </div>
        <div class="row" style="margin-left: 10px">
            <div class="col-sm-6">
                <label>Device id:</label>
            </div>
            <div class="col-sm-1">
                <img src="~/icons/info.png" style="height: 20px; width: 20px; cursor: pointer" data-content="The device-id identifies the equipment and will be assigned by the factory." data-toggle="popover" data-placement="right"/>
            </div>
            <div class="col-sm-5">
                <input style="width:80px" value="0" placeholder="0" disabled />
            </div>
        </div>
        <div class="row" style="margin-left: 10px">
            <div class="col-sm-6">
                <label>Default on-line controlstate:</label>
            </div>
            <div class="col-sm-1">
                <img src="~/icons/info.png" style="height: 20px; width: 20px; cursor: pointer" data-content="The default on-line controlstate determines which state the equipment will go to when the equipment and host establish a connection." data-toggle="popover" data-placement="right" />
            </div>
            <div class="col-sm-5">
                <select class="form-select form-select-sm" style="border-radius: 5px" disabled>
                    <option value="1">Online local</option>
                    <option value="2">Online remote</option>
                </select>            
            </div>
            </div>
            <div class="row" style="margin-left: 10px">
                <div class="col-sm-6">
                    <label>T3:</label>
                </div>
                <div class="col-sm-1">
                    <img src="~/icons/info.png" style="height: 20px; width: 20px; cursor: pointer" data-content="The T3 timeout is the transaction timer. This is the maximum amount of time between a primary message and the expected response before declaring the transaction closed. If the timer expires, an S9F9 error message is sent." data-toggle="popover" data-placement="right" />
                </div>
                <div class="col-sm-5">
                    <input type="range" min="1" max="120" value="45" id="T3Range" disabled>
                    <span id="T3Value"></span>
                </div>
            </div>
            <div class="row" style="margin-left: 10px">
                <div class="col-sm-6">
                    <label>T5:</label>
                </div>
                <div class="col-sm-1">
                    <img src="~/icons/info.png" style="height: 20px; width: 20px; cursor: pointer" data-content="The T5 timeout is the connect separation timeout. This is the amount of time which must elapse between successive attempts to actively establish a connection." data-toggle="popover" data-placement="right" />
                </div>
                <div class="col-sm-5">
                    <input type="range" min="1" max="120" value="45" id="T5Range" disabled />
                    <span id="T5Value"></span>
                </div>
            </div>
            <div class="row" style="margin-left: 10px">
                <div class="col-sm-6">
                    <label>Active/Passive:</label>
                </div>
                <div class="col-sm-1">
                    <img src="~/icons/info.png" style="height: 20px; width: 20px; cursor: pointer" data-content="The equipment must be configured to be a PASSIVE or ACTIVE connection. Usually, a PASSIVE connection is preferred for the equipment side." data-toggle="popover" data-placement="right" />
                </div>
                <div class="col-sm-5">
                    <select class="form-select form-select-sm" style="border-radius: 5px" disabled>
                        <option value="1">Active</option>
                        <option value="2">Passive</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-left: 10px">
                <div class="col-sm-6">
                    <label>Spooling:</label>
                </div>
                <div class="col-sm-1">
                    <img src="~/icons/info.png" style="height: 20px; width: 20px; cursor: pointer" data-content="Spooling is a capability whereby the equipment can queue messages intended for the host during times of communication failure and subsequently deliver these messages when communication is restored" data-toggle="popover" data-placement="right" />
                </div>
                <div class="col-sm-5">
                    <label class="switch">
                        <input type="checkbox" disabled>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row" style="margin-left: 10px">
                <div class="col-sm-6">
                    <label>Control state:</label>
                </div>
                <div class="col-sm-1">
                    <img src="~/icons/info.png" style="height: 20px; width: 20px; cursor: pointer" data-content="1: Equipment offline, 2: Attempt online, 3: Host offline, 4: Online local, 5: Online remote" data-toggle="popover" data-placement="right" />
                </div>
                <div class="col-sm-5">
                    <label title="value">Equipment offline</label>
                </div>
            </div>
            <div class="row" style="margin-left: 10px">
                <div class="col-sm-6">
                    <label>Process state:</label>
                </div>
                <div class="col-sm-1">
                    <img src="~/icons/info.png" id="popoverButton" style="height: 20px; width: 20px; cursor: pointer" data-offset-top="-100" data-content="1: Idle, 2: Starting, 3: Running, 4: Stopping, 5: Pausing, 6: Alarm Paused, 7: Engineering" data-toggle="popover" data-placement="right" data-container="body" />
                </div>
                <div class="col-sm-5">
                    <label title="value">Idle</label>
                </div>
            </div>
        </div>  
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    var slideCol = document.getElementById("T3Range");
    var T3 = document.getElementById("T3Value");
    T3.innerHTML = slideCol.value;
    slideCol.oninput = function () {
        T3.innerHTML = this.value;
    }
</script>
<script>
    var slideCol = document.getElementById("T5Range");
    var T5 = document.getElementById("T5Value");
    T5.innerHTML = slideCol.value;
    slideCol.oninput = function () {
        T5.innerHTML = this.value;
    }
</script>

<script>
    $('#popoverButton').popover({
        container: 'body',
        placement: "bottom",
        html: true,
        viewport: { selector: '.container', padding: 5 },
        content: '<strong>Hello Wooooooooooooooooooooooorld</strong>'
    });
</script>

@*<script>
    $(document).ready(function () {
        // Enable popovers everywhere
        $('[data-toggle="popover"]').popover(         
            
        );
    });
</script>*@