﻿@page
@model Power_X1_iCT.Pages.EventModel
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">

<div class="container-fluid">
    <div class="row col-12">
        <div style="position:fixed; right:20px">
            <button class="halvebutton" style="width:90px; height:90px;" onclick="location.href = './History'">
                <img title="History" src="~/icons/history.png" style="width:80px; height:80px;" />
            </button>
        </div>
        <div style="height:700px" class="col-11">
            <div class="main-event-sempro-card" id="mainEvent">
                <div id="header">
                    <div class="col-12" style="text-align: center; font-size:42px;height:70px">
                        <span id="EventTitle">No events</span>
                    </div>
                    <div style="text-align: center; padding:10px; font-size:15px" id="eventData">
                        <div style="float: left; position: relative; width: 30%; ">
                            <span>Created:</span>
                            <span id="EventCreationDate"></span>
                        </div>
                        <div style="float: left; position: relative; width: 40%; ">
                            <span>Process:</span>
                            <span id="EventProcess"></span>
                        </div>
                        <div tyle="float: right; position: relative; width: 30%; ">
                            <span>Module:</span>
                            <span id="EventModule"></span>
                        </div>
                    </div>
                </div>
                <div id="eventContent" />
            </div>
        </div>
        <div class="sempro-events-card">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th style="width: 50px;"></th>
                        <th style="width: 220px;">Created</th>
                        <th>Title</th>
                        <th style="width: 220px;">Module</th>
                    </tr>
                </thead>

                <tbody id="tblEvents">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sempro.js"></script>
<script src="~/js/eventManager.js"></script>

