﻿@page
@model Power_X1_iCT.Pages.HistoryModel
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">
<link rel="stylesheet" href="~/css/video.css">

<div class="container-fluid col-12">
    <div class="sempro-events-card">
        <table class="table" valign="middle">
            <thead class="table-head">
                <tr>
                    <th style="width: 50px;">#</th>
                    <th style="width: 220px;">Date</th>
                    <th>Title</th>
                    <th style="width: 100px;">Preview</th>
                    <th style="width: 220px;">Id</th>
                </tr>
            </thead>

            <tbody id="tblEventVideos">
                <tr onclick="showVideo()" style="height: 60px;">
                    <td style="vertical-align:middle; font:50px verdana">1</td>
                    <td style="vertical-align:middle">@DateTime.Now</td>
                    <td style="vertical-align:middle">Indexer lost device</td>
                    <td>
                        <div style="position: relative; display:block;">
                            <div style="height: 60px;">
                                <img src="~/img/videoTracingExample.PNG" style="width: 100px; position:absolute;left:0;top:0;" />
                            </div>
                            <div class="playbutton" style="position:absolute;left:25%;top:10%;">
                                <div class="playbottom" x="0" y="0" width="200" height="200"></div>
                                <div class="playicon" width="200" height="200">
                                    <div class="part leftside" x="0" y="0" width="200" height="200" fill="#fff"></div>
                                    <div class="part rightside" x="0" y="0" width="200" height="200" fill="#fff"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align:middle">209</td>
                </tr>
                <tr onclick="showVideo()" style="height: 60px;">
                    <td style="vertical-align:middle; font:50px verdana">2</td>
                    <td style="vertical-align:middle">@DateTime.Now.AddMinutes(-12).AddSeconds(8)</td>
                    <td style="vertical-align:middle">Magazine loader lift failed to reach position</td>
                    <td>
                        <div style="position: relative; display:block;">
                            <div style="height: 60px;">
                                <img src="~/img/videoTracingExample2.PNG" style="width: 100px; position:absolute;left:0;top:0;" />
                            </div>
                            <div class="playbutton" style="position:absolute;left:25%;top:10%;">
                                <div class="playbottom" x="0" y="0" width="200" height="200"></div>
                                <div class="playicon" width="200" height="200">
                                    <div class="part leftside" x="0" y="0" width="200" height="200" fill="#fff"></div>
                                    <div class="part rightside" x="0" y="0" width="200" height="200" fill="#fff"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align:middle">106</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid" style="position:absolute">
    <div id="showVideoModal" class="modal center fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="max-width:1180px">

            <!-- Modal content-->
            <div class="modal-content" style="width: 1200px;">
                <div class="modal-header">
                    <div class="container">
                        <div style="float:right">
                            <h4 class="modal-title">@DateTime.Now</h4>
                        </div>
                        <div class="col-7">
                            <h4 class="modal-title">Indexer lost device</h4>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                </div>
                <div class="modal-body">
                    <video controls loop autoplay width="1150">
                        <source src="/media/videoTracingExample.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sempro.js"></script>
<script src="~/js/eventManager.js"></script>

<script>
    function showVideo() {
        $("#showVideoModal").modal();
    }
</script>

