﻿    <form method="post">
        <button class="button" id="CloseScanningStageDebug" title="Close settings" style="float:right; width:50px; height:50px">
            <img src="~/icons/close.png" style="width:35px; padding:1px" />
        </button>
    </form>
    <form method="post">
        <h2>Scanning stage</h2>
        <div>&nbsp;</div>
        <div class="settings-card row">
            <div class="col-6">
                <button class="button" id="StartScanningStage" name="StartScanningStage" title="Start">
                    <img src="~/icons/play.png" width="40">
                </button>
            </div>
            <div class="col-6">
                <button class="button" id="StopScanningStage" name="StopScanningStage" title="Stop">
                    <img src="~/icons/stop.png" width="40">
                </button>
            </div>
        </div>
        <div>&nbsp;</div>
    </form>

    
