﻿
<button class="button" id="CloseAddLot" title="Close" style="float:right; width:50px; height:50px">
    <img src="~/icons/close.png" style="width:35px; padding:1px" />
</button>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="settings-card">
    <div class="row">
        <div class="col-11 row">
            <label for="AddLotName" class="col-5" style="color:white">Lot name</label>
            <input class="textbox" id="AddLotName" name="Name" type="text" value="@Model.AddLotModel.AddLotName" placeholder="Lot name" />
        </div>
    </div>
    <div class="row">
        <div class="col-11 row">
            <label for="MaxLeadFrames" class="col-5" style="color:white">Max. leadframes</label>
            <input class="textbox" id="MaxLeadFrames" name="Name" type="text" value="0" disabled />
            <label style="color:white">#</label>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
        </div>
        <div class="col-1">
            <button class="smallbutton" id="ExecuteAddLotButton" title="Add lot" style="float:right">
                <img src="~/icons/plus.png" width="40">
            </button>
        </div>
    </div>
</div>
<div>&nbsp;</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/lotControl.js"></script>

