﻿

    <button class="button" id="CloseDeviceView" title="Close" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="settings-card col-sm-12">
        <div class="row">
            <label class="col-sm-4" style="color:white">Lot:</label>
            <label class="col-sm-8" id="SelectedDeviceLot" style="color: black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">Id:</label>
            <label class="col-sm-8" id="SelectedDeviceId" style="color:black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">Created:</label>
            <label class="col-sm-8" id="SelectedDeviceCreated" style="color:black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">Processed:</label>
            <label class="col-sm-8" id="SelectedDeviceProcessed" style="color:black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">State:</label>
            <label class="col-sm-8" id="SelectedDeviceState" style="color:black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color: white">Dambar:</label>
            <label class="col-sm-8" id="SelectedInspectionDambarResult" style="color:black"></label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">Inspection:</label>
            <label class="col-sm-8" id="SelectedInspection3dResult" style="color: black">Undefined</label>
        </div>
    </div>

