﻿@page
@model Power_X1_iCT.Pages.InspectionModel
@{
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-2" style="float: right">
            <div class="row">
                <div class="col-6 row" >
                    <div style="margin:auto auto;">
                        Demo
                    </div>
                    <label class="checkBox">
                        <input type="checkbox" checked disabled>
                        <span class="checkmark "></span>
                    </label>
                </div>
                <div class="col-4">
                    <button class="halvebutton" onclick="toggleSideBar()">
                        <img src="~/icons/maximize.png" width="35" id="toggleSideBarImage" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="row" id="inspectionRow" style="float:left">
    <div class="col-sm-3" style="padding: 2px; display:none" id="inspectionContainer">
        <div class="default-sempro-card" style="height:99%;">
            <div style="height: 40px">
                <div style="text-align:center">
                    <h3 class="font-weight-bold" style="color:white" id="InspectionName"></h3>
                </div>
            </div>
            <div class="row" style=" height:contain">
                <div class="col-12" style="display:flex; align-items:center; justify-content:center ">
                    <img id="visionImage" style="width: 400px; height: 400px; display: flex; align-content: center; border-radius: 10px; border: 4px solid rgb(57, 65, 101); cursor:pointer " />
                </div>
            </div>
            <div style="margin-top: 10px; margin-bottom:10px">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Device:</label>
                    </div>
                    <div class="col-sm-6">
                        <label title="Device" id="DeviceId" style="color:white"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Result:</label>
                    </div>
                    <div class="col-sm-6">
                        <img id="InspectionResultImage" src="~/icons/red_cross.png" style="width:30px; height:30px; position:absolute;" />
                    </div>
                </div>
            </div>
            <div style="overflow:auto; max-height:300px">
                <table class="table">
                    <thead style="position: sticky; top: 0; z-index: 1; opacity:0.8">
                        <tr class="table-head">
                            <th style="text-align:left">Name</th>
                            <th>Result</th>
                            <th>Unit</th>
                        </tr>
                    </thead>
                    <tbody id="tblInspectionResults">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="position:absolute">
    <div id="inspectionviewModel" class="modal center fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="max-width:1780px">
            <!-- Modal content-->
            <div class="modal-content" style="width: 1800px; height: 900px">
                <div class="modal-header center">
                    <h2 class="modal-title" id="LiveInspectionName"></h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="settings sempro-modal row" style="height: 715px">
                        <div class="default-sempro-card" style="border: solid 1px black; flex: 1">
                            <img id="LivevisionImage" style=" height:600px; display: flex; align-content: center; border-radius: 10px; border: 4px solid rgb(57, 65, 101); margin: auto " />
                        </div>
                        &nbsp;
                        <div class="default-sempro-card" style="border: solid 1px black; flex:1">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label style="font-size:25px; color:white">Device:</label>
                                </div>
                                <div class="col-sm-6">
                                    <label title="Device" id="LiveDeviceId" style="font-size: 25px; color: white"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label style="font-size: 25px; color: white">Result:</label>
                                </div>
                                <div class="col-sm-6">
                                    <img id="LiveInspectionResultImage" src="~/icons/red_cross.png" style="width:30px; height:30px; position:absolute;" />
                                </div>
                            </div>
                            &nbsp;
                            &nbsp;
                            <div>
                                <div style="overflow:auto; max-height:500px">
                                    <table class="table" style="width: 100%">
                                        <thead class="table-head" style="position: sticky; top: 0; z-index: 1; opacity:0.8">
                                            <tr>
                                                <th style="text-align:left">Name</th>
                                                <th>Lower limit</th>
                                                <th>Result</th>
                                                <th>Upper limit</th>
                                                <th>Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblLiveInspectionResults">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="inspectionResultModal" class="modal" role="dialog">
    <div class="modal-dialog" style="top:350px">
        <div class="modal-content" style="width: 600px">
            <div class="modal-header">
                <h4 class="modal-title">Inspection result</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="display:flex; justify-content:center">
                <div>
                    <table class="table" style="width: 550px">
                        <thead>
                            <tr class="table-head">
                                <th width="300px">Name</th>
                                <th>Lower</th>
                                <th>Value</th>
                                <th>Upper</th>
                                <th>Unit</th>
                            </tr>
                        </thead>
                        <tr>
                            <td id="name"></td>
                            <td id="lowerLimit"></td>
                            <td id="value"></td>
                            <td id="upperLimit"></td>
                            <td id="unit"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    var liveInspectionName = "";
    document.addEventListener("DOMContentLoaded", function (event) {
        onLoadedGetInspectionData();

        $('#inspectionviewModel').on('hidden.bs.modal', function () {
            // Stop the live updates on modal close
            closeLiveInspectionModal()
        })
    });

    function onLoadedGetInspectionData() {
        $.ajax({
            url: "../Production/Inspection?handler=GetInspectionModels",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
                alert("Error: " + "Unable to get data from webserver");
            },
            success: function (data) {
                createInspectionContainers(data);
                setInspectionModelData(data);
                setTimeout(updateData, 3000);
            }
        });
    }
    function createInspectionContainers(data) {
        let templateContainer = $('#inspectionContainer')

        data.forEach((dataItem) => {
            //Clone container
            var newInspection = templateContainer.clone();
            newInspection.id += dataItem.Name;
            newInspection[0].style.display = "initial";

            //Name
            var name = newInspection.find('#InspectionName')[0];
            name.id += dataItem.Name;
            name.textContent = dataItem.Name;

            //Result
            var image = newInspection.find('#InspectionResultImage')[0];
            image.id += dataItem.Name;

            //Vision image
            var image = newInspection.find('#visionImage')[0];
            image.id += dataItem.Name;
            image.addEventListener('click', () => openLiveInspectionModal(dataItem.Name));

            //Device id
            var device = newInspection.find('#DeviceId')[0];
            device.id += dataItem.Name;

            //Inspection results
            var tbl = newInspection.find('#tblInspectionResults')[0];
            tbl.id += dataItem.Name;

            $('#inspectionRow').append(newInspection);
        });
    }

    function updateData() {
        updateGetInspectionModel();
        updateLiveData();
        setTimeout(updateData, 3000);
    }
    function updateGetInspectionModel() {
        $.ajax({
            url: "../Production/Inspection?handler=GetInspectionModels",
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
                alert("Error: " + "Unable to get data from webserver");
            },
            success: function (data) {
                setInspectionModelData(data);
            }
        });
    }

    function updateLiveInspectionModel(name) {
        $.ajax({
            url: "../Production/Inspection?handler=GetInspectionModel",
            data: { input: name },
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
                alert("Error: " + "Unable to get data from webserver");
            },
            success: function (data) {
                setLiveInspectionModelData(data);
            }
        });
    }

    function setInspectionModelData(data) {
        data.forEach((dataItem) => {

            //Result
            var image = document.getElementById('InspectionResultImage' + dataItem.Name);
            if (dataItem.Result)
                image.src = '/icons/green_checkmark.png';
            else
                image.src = '/icons/red_cross.png';

            //Device id
            var device = document.getElementById('DeviceId' + dataItem.Name);
            device.textContent = dataItem.DeviceId;

            //Vision image
            var image = document.getElementById('visionImage' + dataItem.Name);
            image.src = "data:image/png;base64," + dataItem.Image;


            //Inspection results
            var tbl = document.getElementById('tblInspectionResults' + dataItem.Name);
            if (tbl.rows.length > 0)
                tbl.innerHTML = "";

            if (tbl != null) {
                dataItem.InspectionResults.forEach((inspectionResult) => {
                    var row = tbl.insertRow(-1);
                    var showRangeModal = "showRangeModal(" + "\"" + inspectionResult.Name + "\"" + "," + inspectionResult.LowerLimit + "," + inspectionResult.Value + "," + inspectionResult.UpperLimit + "," + inspectionResult.Result + ",\"" + inspectionResult.Unit + "\")"
                    row.setAttribute("onclick", showRangeModal);
                    var cell0 = row.insertCell(0);
                    cell0.innerHTML = inspectionResult.Name;
                    cell0.style.textAlign = "left"
                    var cell1 = row.insertCell(1);
                    cell1.innerHTML = inspectionResult.Value;
                    row.insertCell(2).innerHTML = inspectionResult.Unit;

                    if (inspectionResult.Result)
                        cell1.style.color = "green";
                    else
                        cell1.style.color = "red";
                });
            }
        });
    }

    function setLiveInspectionModelData(data) {
        var name = document.getElementById('LiveInspectionName');
        name.textContent = data.Name;

        var image = document.getElementById('LiveInspectionResultImage');
        if (data.Result)
            image.src = '/icons/green_checkmark.png';
        else
            image.src = '/icons/red_cross.png';

        var device = document.getElementById('LiveDeviceId');
        device.textContent = data.DeviceId;

        var image = document.getElementById('LivevisionImage');
        image.src = "data:image/png;base64," + data.Image;

        var tbl = document.getElementById('tblLiveInspectionResults');
        if (tbl.rows.length > 0)
            tbl.innerHTML = ""

        if (tbl != null) {
            data.InspectionResults.forEach((inspectionResult) => {
                var row = tbl.insertRow(-1);
                var cell1 = row.insertCell(0);
                cell1.innerHTML = inspectionResult.Name;
                cell1.style.textAlign = "left";
                row.insertCell(1).innerHTML = inspectionResult.LowerLimit;
                var cell2 = row.insertCell(2);
                cell2.innerHTML = inspectionResult.Value;
                row.insertCell(3).innerHTML = inspectionResult.UpperLimit;
                row.insertCell(4).innerHTML = inspectionResult.Unit;

                if (inspectionResult.Result)
                    cell2.style.color = "green";
                else
                    cell2.style.color = "red";
            })
        }
    }
</script>
<script>
    function showRangeModal(name, lowerLimit, value, upperLimit, result, unit) {
        var nameElement = document.getElementById("name");
        var lowerLimitElement = document.getElementById("lowerLimit");
        var valueElement = document.getElementById("value");
        var upperLimitElement = document.getElementById("upperLimit");
        var unitElement = document.getElementById("unit")
        nameElement.textContent = name;
        lowerLimitElement.textContent = lowerLimit;
        valueElement.textContent = value;
        upperLimitElement.textContent = upperLimit;
        unitElement.textContent = unit;
        openInspectionResultModelPopUp();

        if (result)
            document.getElementById("value").style.color = "green";
        else
            document.getElementById("value").style.color = "red";
    }
</script>

<script>
    function openInspectionResultModelPopUp() {
        $("#inspectionResultModal").modal();
    }
</script>

<script>
    function openLiveInspectionModal(name) {
        liveInspectionName = name;
        updateLiveInspectionModel(liveInspectionName);
        $("#inspectionviewModel").modal();
    }

    function closeLiveInspectionModal() {
        liveInspectionName = "";
    }

    function updateLiveData() {
        if (liveInspectionName != "") {
            updateLiveInspectionModel(liveInspectionName);
        }
    }
</script>
