﻿

    <button class="button" id="CloseLotView" title="Close" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="settings-card col-12">
        <div class="row">
            <label class="col-sm-4" for="LotName" style="color:white">Name:</label>
            <label class="col-sm-8" id="SelectedLotName" style="color:black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">State:</label>
            <label class="col-sm-8" id="SelectedLotState" style="color:black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">Opened:</label>
            <label class="col-sm-8" id="SelectedLotOpened" style="color:black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">Closed:</label>
            <label class="col-sm-8" id="SelectedLotClosed" style="color:black">Undefined</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">Devices OK:</label>
            <label class="col-sm-8" id="SelectedLotDevices" style="color:black">0</label>
        </div>
        <div class="row">
            <label class="col-sm-4" style="color:white">Devices not OK:</label>
            <label class="col-sm-8" style="color:black">0</label>
        </div>

        <button id="ExecuteCloseLotButton" class="button" title="Close lot">Close lot</button>
    </div>

