﻿@page
@model Power_X1_iCT.Pages.ProductionModel
@{
}
@Html.AntiForgeryToken()   
    <link rel="stylesheet" href="~/css/production.css">
    <div class="row">

        <div class="col-4 sempro-lotcontrol-card" style="height: 500px">
            <div style="overflow: auto; max-height: 450px">
                <table class="table">
                    <thead class="table-head" style="position:sticky; top:0; z-index:1; opacity:0.8">
                        <tr>
                            <th style="width: 150px;">State</th>
                            <th>Lot name</th>
                            <th width="45px">
                                <button class="smallbutton" id="AddLotButton" title="Add lot">
                                    <img src="~/icons/plus.png" width="40">
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblLots" />
                </table>
            </div>
        </div>
        <div id="AddLotContainer" style="display:none" class="sempro-lotcontrol-card col-4">
            <partial name="Production/AddLotPartial" />
        </div>
        <div id="ViewLotContainer" style="display:none; min-width:330px" class="sempro-lotcontrol-card col-4">
            <partial name="Production/LotViewPartial" />
        </div>
        <div id="ViewDeviceContainer" style="display:none; min-width:330px" class="sempro-lotcontrol-card col-4">
            <partial name="Production/DeviceViewPartial" />
        </div>

        <div style="position:fixed; right:20px">            
            <button class="halvebutton" style="width:90px; height:90px;" onclick="location.href = './Inspection'">
                <img title="Inspection" src="~/icons/Inspection.png" style="width:80px; height:80px;" />
            </button>           
        </div>        
    </div>   

    <div class="row" >
        <div class="sempro-materialtracking-card col-3" id="magazineLoaderTracking">
            <div style="position: absolute; left: 100px; top: 73px;">
                <img src="~/icons/magazine.png" width="240" style="opacity:0.1;" />
            </div>
            <div class="checkbox-container" style="width: 55%; display: inline-block">
                <label class="checkbox-label magazine" style="left:75%;position:relative;">
                    <input type="checkbox" id="UpperConveyorHasMagazine" disabled>
                    <span class="checkbox-custom"></span>
                </label>
                <div class="conveyor"></div>
            </div>
            <div style="height:120px">
                <div class="row" style="height:48px;">
                    <div style="width:55%"></div>
                    <div style="width:25px;transform:rotate(-90deg)" class="arrow"></div>
                </div>
                <div class="row" style="height:55px">
                    <div style="width:55%"></div>
                    <div class="checkbox-container">
                        <label class="checkbox-label magazine">
                            <input type="checkbox" id="MagazineLoaderLiftHasMagazine" disabled>
                            <span class="checkbox-custom"></span>
                        </label>
                    </div>
                    <div style="width:3%;display:inline-flex"></div>
                    <div class="checkbox-container">
                        <label class="checkbox-label device">
                            <input type="checkbox" id="OutfeedHasMaterial" disabled>
                            <span class="checkbox-custom"></span>
                        </label>
                    </div>
                    <div style="width:0px;height:5px" class="arrow"></div>
                </div>
                <div class="row" style="height: 25px;">
                    <div style="width:55%"></div>
                    <div style="width:25px;transform:rotate(90deg)" class="arrow"></div>
                </div>
            </div>
            <div class="checkbox-container" style="width: 55%; display: inline-block">
                <label class="checkbox-label magazine" style="left:75%;position:relative;">
                    <input type="checkbox" id="LowerConveyorHasMagazine" disabled>
                    <span class="checkbox-custom"></span>
                </label>
                <div class="conveyor"></div>
            </div>
        </div>
        <div class="sempro-materialtracking-card col-5" id="pressModuleTracking">
            <div style="position: absolute; left: 15%; top: 24px;">
                <img src="~/icons/press.png" width="300" style="opacity:0.1;" />
            </div>
            <div style="position: absolute; left: 47%; top: 24px;">
                <img src="~/icons/press.png" width="300" style="opacity:0.1;" />
            </div>
                <div class="col-sm12" >
                    <div class="row" style="height:67px;justify-content:center; align-items:flex-end">
                        <div style="width:17%"></div>
                        <hr class="indexer" />
                    </div>

                    <div class="row" style="width:96%;top:61px; justify-content: flex-start; position: absolute">
                        <div class="col-sm-2" style="display:flex; justify-content:start; align-items:center"></div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="arrow" style="transform:rotate(-90deg)"></div>
                        </div>
                    </div>
                    <div class="row" style="justify-content:flex-start;">
                        <div class="col-sm-2" style="display:flex; justify-content:start; align-items:center"></div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition0HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition1HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition2HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition3HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display: flex; justify-content: center; align-items: start; padding: 0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="IndexerPosition4HasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="justify-content:flex-start;">
                        <div class="col-sm-1" style="display:flex; justify-content:start; align-items:center"></div>
                        <div title="Infeed" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="InfeedHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div title="Trim" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="TrimmingHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div title="Dambar" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="DambarHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div title="Wastebin" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="WasteBinHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div title="Form" class="col-sm-2" style="display:flex; justify-content:center; align-items:start; padding:0px">
                            <div class="checkbox-container">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="FormingHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sempro-materialtracking-card col-3" id="robotToTrayUnloaderTracking">

                <div style="position: absolute; left: 122px; top: 69px;">
                    <img src="~/icons/robot.png" width="180" style="transform: scaleX(-1); opacity:0.1;" />
                </div>
                <div class="col-sm-12" style="height:280px;">
                    <div class="row" style="height: 93px; justify-content: flex-end ">
                        <div class="col-sm-3"></div>
                        <div class="trayLocation col-sm-3">
                            <div class="tray">
                                <input type="checkbox" id="Tray6HasTray" onclick="return false" disabled>
                                <span class="tray-image"></span>
                            </div>
                        </div>
                        <div class="trayLocation col-sm-3">
                            <div class="tray">
                                <input type="checkbox" id="Tray5HasTray" onclick="return false" disabled>
                                <span class="tray-image"></span>
                            </div>
                        </div>
                        <div class="trayLocation col-sm-3">
                            <div class="tray">
                                <input type="checkbox" id="Tray4HasTray" onclick="return false" disabled>
                                <span class="tray-image"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 93px;justify-content: flex-end ">
                        <div class="col-sm-6"></div>
                        <div class="trayLocation col-sm-3">
                            <div class="tray">
                                <input type="checkbox" id="Tray3HasTray" onclick="return false" disabled>
                                <span class="tray-image"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height:93px;justify-content:flex-end;">
                        <div class="col-sm-6" style="display:flex; justify-content:flex-start; align-items:flex-start; padding:0px">
                            <div style=" width:50px; height:50px; padding:0px ; margin:0px">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="RobotInfeedHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                            &nbsp;
                            <div style="width: 50px; height: 50px; padding: 0px; margin: 0px ">
                                <label class="checkbox-label device">
                                    <input type="checkbox" id="RobotHasMaterial" onclick="return false">
                                    <span class="checkbox-custom"></span>
                                </label>
                            </div>
                        </div>
                        <div class="trayLocation col-sm-3">
                            <div class="tray">
                                <input type="checkbox" id="Tray1HasTray" onclick="return false">
                                <span class="tray-image"></span>
                            </div>
                        </div>
                        <div class="trayLocation col-sm-3">
                            <div class="tray">
                                <input type="checkbox" id="Tray2HasTray" onclick="return false">
                                <span class="tray-image"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/materialTracking.js"></script>
    <script src="~/js/lotControl.js"></script>
    <script src="~/js/sempro.js"></script>