﻿@page
@model Power_X1_iCT.Pages.NoConnectionToThePLC
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">

<div class="container-fluid">
        <span style="padding: 1rem" class="row">The connection to the PLC could not be established</span>
        <span style="padding: 1rem" class="row">An error ocurred while trying to connect to the PLC</span>
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">1. Make sure the PLC is in run mode</span></p>
            <p style="display:table-row"><span style="display: table-cell">2. Click '<img src="~/icons/connect.png" width="20" style="background:white">' to retry to connect to the PLC</span></p>
        </div>
</div>

<form method="post" style="margin-top:50px; max-width:380px; padding:1rem">
    <div class="settings-card">
        <div>
            <button class="button" id="ExecuteConnectButton" title="Connect">
                <img src="~/icons/connect.png" width="40">
            </button>
            <button class="button" id="ExecuteDisconnectButton" title="Disconnect" style="float:right">
                <img src="~/icons/disconnect.png" width="40">
            </button>
        </div>
       
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/sempro.js"></script>

<script title="commands">
    $("#ExecuteConnectButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/NoConnectionToThePLC", "Connect")
    });
    $("#ExecuteDisconnectButton").click(function (e) {
        e.preventDefault();
        sendCommand("Events/NoConnectionToThePLC", "Disconnect")
    });
    </script>

