﻿@page
@model Power_X1_iCT.Pages.Setup.SetupMagazineLoaderModel
@{
}
@Html.AntiForgeryToken()
<head>
    <link rel="stylesheet" href="~/css/magazineLoader.css" />
</head>
<div>
    <div class="backgroundImage">
        <img src="~/img/Modules/magazine-loader.png" />
    </div>
    <div class="container-fluid">
        <div>
            <div style="float: right" class="col-6">
                <div style="display: inline-block">
                    <div id="SetupLoadMagazineContainer" style="display:none;" class="settings">
                        <partial name="Subprocesses/LoadMagazine/LoadMagazineSettingsPartial" />
                    </div>

                    <div id="SetupProvideMaterialContainer" style="display:none;" class="settings">
                        <partial name="Subprocesses/ProvideMaterial/ProvideMaterialSettingsPartial" />
                    </div>

                    <div id="SetupUnloadMagazineContainer" style="display:none;" class="settings">
                        <partial name="Subprocesses/UnloadMagazine/UnloadMagazineSettingsPartial" />
                    </div>

                    <div id="SetupMainMagazineLoaderContainer" style="display:none;" class="settings">
                        <partial name="Main/MagazineLoaderSettingsPartial" />
                    </div>

                    <div id="DebugUpperConveyorContainer" style="display:none;" class="settings">
                        <partial name="Resources/UpperConveyorDebugPartial" />
                    </div>
                </div>
            </div>

            <div class="col-6" style="display: inline-block">
                <div class="main-settings-sempro-card">
                    <div class="row">
                        <form id="ExecuteInitialize" method="post">
                            <button class="button" id="ExecuteInitializeButton" title="Initialize">
                                <img src="~/icons/init.png" width="30">
                            </button>
                        </form>
                        <form id="ExecuteStart" method="post">
                            <button class="halvebutton" id="ExecuteStartButton" title="Start">
                                <img src="~/icons/play.png" width="40">
                            </button>
                        </form>
                        <form id="ExecuteStop" method="post">
                            <button class="halvebutton" id="ExecuteStopButton" title="Stop">
                                <img src="~/icons/stop.png" width="40">
                            </button>
                        </form>
                        <div>
                            <div class="statusBar" id="MagazineLoaderStatus">Ready</div>
                        </div>
                        <div>
                            <div class="stateBar" id="MagazineLoaderState">Stopped</div>
                        </div>
                        <div>
                            &nbsp;
                            <button class="button" title="Setup" id="SetupMainMagazineLoader" style="float:right; width:50px;">
                                <img src="~/icons/setup.png" width="30">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <h5 class="font-weight-bold d-inline-flex settings-label">Processes</h5>
                    <div class="row">
                        <div>
                            <span class="process-label">Load magazine</span>
                        </div>
                        <div>
                            <form id="ExecuteLoadMagazine" method="post">
                                <button class="button" title="Execute" id="ExecuteLoadMagazineButton">
                                    <img src="~/icons/repeat_once.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="LoadMagazineStatus">Ready</div>
                        &nbsp;
                        <button class="button" title="Setup" id="SetupLoadMagazine" style="float:right; width:50px;">
                            <img src="~/icons/setup.png" width="30">
                        </button>
                    </div>
                    <div class="row">
                        <div>
                            <span class="process-label">Provide material</span>
                        </div>
                        <div>
                            <form method="post">
                                <button class="button" title="Execute" id="ExecuteProvideMaterialButton">
                                    <img src="~/icons/repeat_once.png" width="30">
                                </button>
                            </form>
                        </div>

                        <div class="statusBar" id="ProvideMaterialStatus">Ready</div>
                        &nbsp;
                        <div style="float: right;">
                            <button class="button" title="Setup" id="SetupProvideMaterial" style="width:50px;">
                                <img src="~/icons/setup.png" width="30">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="process-label">Unload magazine</span>
                        </div>
                        <div>
                            <form method="post">
                                <button class="button" title="Execute" id="ExecuteUnloadMagazineButton">
                                    <img src="~/icons/repeat_once.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="UnloadMagazineStatus">Ready</div>
                        &nbsp;
                        <button class="button" title="Setup" id="SetupUnloadMagazine" style="float:right; width:50px;">
                            <img src="~/icons/setup.png" width="30">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="main-settings-sempro-card">
                <div>
                    <h5 class="font-weight-bold d-inline-flex settings-label">Resources</h5>
                    <div class="row">
                        <div>
                            <span class="process-label">Upper conveyor</span>
                        </div>
                        <div>
                            <form id="ExecuteLoadMagazine" method="post">
                                <button class="button" title="Debug" id="DebugUpperConveyor">
                                    <img src="~/icons/tool.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="UpperConveyorStatus">Ready</div>>
                    </div>
                    <div class="row">
                        <div>
                            <span class="process-label">Upper hatch</span>
                        </div>
                        <div>
                            <form method="post">
                                <button class="button" title="Debug" id="ExecuteUpperHatchButton" disabled>
                                    <img src="~/icons/tool.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="UpperHatchStatus">Ready</div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="process-label">Lift</span>
                        </div>
                        <div>
                            <form method="post">
                                <button class="button" title="Debug" id="ExecuteLiftButton" disabled>
                                    <img src="~/icons/tool.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="LiftStatus">Ready</div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="process-label">Leadframe pusher</span>
                        </div>
                        <div>
                            <form method="post">
                                <button class="button" title="Debug" id="ExecuteLeadFramePusherButton" disabled>
                                    <img src="~/icons/tool.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="LeadFramePusherStatus">Ready</div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="process-label">Lower hatch</span>
                        </div>
                        <div>
                            <form method="post">
                                <button class="button" title="Debug" id="ExecuteLowerHatchButton" disabled>
                                    <img src="~/icons/tool.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="LowerHatchStatus">Ready</div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="process-label">Lower conveyor</span>
                        </div>
                        <div>
                            <form method="post">
                                <button class="button" title="Debug" id="ExecuteLowerConveyorButton" disabled>
                                    <img src="~/icons/tool.png" width="30">
                                </button>
                            </form>
                        </div>
                        <div class="statusBar" id="LowerConveyorStatus">Ready</div>
                    </div>
                </div>
            </div>
        </div>    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sempro.js"></script>
<script src="~/js/magazineLoader.js"></script>

<script title="commands">
    $("#ExecuteInitializeButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "Initialize");
    });

    $("#ExecuteStartButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "Start");
    });

    $("#ExecuteStopButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "Stop");
    });

    $("#ExecuteLoadMagazineButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "LoadMagazine");
    });

    $("#ExecuteProvideMaterialButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "ProvideMaterial");
    });

    $("#ExecuteUnloadMagazineButton").click(function (e) {
        e.preventDefault();
        sendCommand("SetupMagazineLoader", "UnloadMagazine");
    });
</script>

<script title="Loaded">
    $(document).ready(function () {
        window.onload = sendCommand("SetupMagazineLoader", "Loaded");
    })
</script>

<script title="Simulation">
    $(function () {
        $("#Simulation").change(function (e) {
            e.preventDefault();
            sendCommand("SetupMagazineLoader", "SimulationChanged");
        });
    })
</script>

<script title="Velocity">
    $(function () {
        $("#VelocityPercentage").change(function (e) {
            e.preventDefault();
            var percentage = $("#VelocityPercentage")[0].value;
            // submit form with ajax
            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: './SetupMagazineLoader?handler=SetVelocityPercentage',
                    data: { percentage: percentage },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error:
                        function (response) {
                            console.log(response);
                            alert("Error: " + "PLC returned error string");
                        }
                });
        });
    });
</script>

