﻿    <form method="post">
        <button class="button" id="CloseUpperConveyorDebug" title="Close settings" style="float:right; width:50px; height:50px">
            <img src="~/icons/close.png" style="width:35px; padding:1px" />
        </button>
    </form>
    <form method="post">
        <h2>Upper conveyor</h2>
        <div>&nbsp;</div>
        <div class="settings-card">
            <div>
                <label for="StartUpperConveyor" class="col-5">Start</label>
                <button class="button" id="StartUpperConveyor" name="StartUpperConveyor" >
                <img src="~/icons/play.png" width="40">
                </button>
            </div>
            <div>
                <label for="StopUpperConveyor" class="col-5">Stop </label>
                <button class="button" id="StopUpperConveyor" name="StopUpperConveyor" >
                <img src="~/icons/stop.png" width="40">
                </button>
            </div>
        </div>
        <div>&nbsp;</div>
    </form>

    
