﻿<form method="post">
    <button class="button" id="CloseSetupInspection" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Inspection settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="InfeedPosition" class="col-5">Infeed position</label>
            <input class="textbox" id="InfeedPosition" name="InfeedPosition" type="number" value="@Model.InspectionSettingsModel.InfeedPosition.ToString("F2")" min="1.00" max="300.00" step="0.10" />
            <label for="InfeedPosition">mm</label>
        </div>
        <div class="row">
            <label for="OutfeedPosition" class="col-5">Outfeed position </label>
            <input class="textbox" id="OutfeedPosition" name="OutfeedPosition" type="number" value="@Model.InspectionSettingsModel.OutfeedPosition.ToString("F2")" min="1.00" max="500.00" step="0.10" />
            <label for="OutfeedPosition">mm</label>
        </div>
        <div class="row">
            <label for="StartInspectionPosition" class="col-5">Start inspection position</label>
            <input class="textbox" id="StartInspectionPosition" name="StartInspectionPosition" type="number" value="@Model.InspectionSettingsModel.StartInspectionPosition.ToString("F2")" min="1.00" max="500.00" step="0.1" />
            <label for="StartInspectionPosition">mm</label>
        </div>
        <div class="row">
            <label for="Velocity" class="col-5">Velocity</label>
            <input class="textbox" id="Velocity" name="Velocity" type="number" value="@Model.InspectionSettingsModel.Velocity" min="10" max="100" step="5" />
            <label for="Velocity">%</label>
        </div>              
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadInspectionSettingsToPLC" title="Download to PLC">
            <img src="~/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveInspectionSettings" title="Save to database">
            <img src="~/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshInspectionSettingsFromRecipe" title="Load from database">
            <img src="~/icons/back.png" width="30">
        </button>
    </div>
</form>