﻿<form method="post">
    <button class="button" id="CloseSetupRobot" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Robot settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="BaseCount" class="col-5">Base count</label>
            <input class="textbox" id="BaseCount" name="BaseCount" type="number" value="@Model.RobotSettingsModel.BaseCount.ToString("F0")" min="1" max="8" step="1" />
            <label for="BaseCount">#</label>
        </div>
        <div class="row">
            <label for="DefaultVelocityPercentag" class="col-5">Default velocity percentage </label>
            <input class="textbox" id="DefaultVelocityPercentag" name="DefaultVelocityPercentage" type="number" value="@Model.RobotSettingsModel.DefaultVelocityPercentage.ToString("F0")" min="10" max="100" step="5" />
            <label for="DefaultVelocityPercentag">%</label>
        </div>
       
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadRobotSettingsToPLC" title="Download to PLC">
            <img src="~/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveRobotSettings" title="Save to database">
            <img src="~/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshRobotSettingsFromRecipe" title="Load from database">
            <img src="~/icons/back.png" width="30">
        </button>
    </div>
</form>