﻿<form method="post">
    <button class="button" id="CloseSetupRobotPick" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Robot pick settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="PickPositionX" class="col-5">Position X</label>
            <input class="textbox" id="PickPositionX" name="PositionX" type="number" value="@Model.RobotPickSettingsModel.PositionX.ToString("F2")" min="1.00" max="1025.00" step="0.10" />
            <label for="PickPositionX">mm</label>
        </div>
        <div class="row">
            <label for="PickPositionY" class="col-5">Position Y </label>
            <input class="textbox" id="PickPositionY" name="PositionY" type="number" value="@Model.RobotPickSettingsModel.PositionY.ToString("F2")" min="1.00" max="25.00" step="0.1" />
            <label for="PickPositionY">mm</label>
        </div>
        <div class="row">
            <label for="PickPositionZ" class="col-5">Position Z</label>
            <input class="textbox" id="PickPositionZ" name="PositionZ" type="number" value="@Model.RobotPickSettingsModel.PositionZ.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="PickPositionZ">mm</label>
        </div>
        <div class="row">
            <label for="PickPositionR" class="col-5">Position R</label>
            <input class="textbox" id="PickPositionR" name="PositionR" type="number" value="@Model.RobotPickSettingsModel.PositionR.ToString("F0")" min="-180" max="270" step="90" />
            <label for="PickPositionR">deg</label>
        </div>
        <div class="row">
            <label for="PickOffsetZ" class="col-5">Offset Z</label>
            <input class="textbox" id="PickOffsetZ" name="PickOffsetZ" type="number" value="@Model.RobotPickSettingsModel.PickOffsetZ.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="PickOffsetZ">mm</label>
        </div>
        <div class="row">
            <label for="PickApproachVelocityPercentage" class="col-5">Approach velocity percentage</label>
            <input class="textbox" id="PickApproachVelocityPercentage" name="PickApproachVelocityPercentage" type="number" value="@Model.RobotPickSettingsModel.PickApproachVelocityPercentage.ToString("F0")" min="10" max="100" step="5" />
            <label for="PickApproachVelocityPercentage">%</label>
        </div>
        <div class="row">
            <label for="PickClearVelocityPercentage" class="col-5">Clear velocity percentage</label>
            <input class="textbox" id="PickClearVelocityPercentage" name="PickClearVelocityPercentage" type="number" value="@Model.RobotPickSettingsModel.PickClearVelocityPercentage.ToString("F0")" min="10" max="100" step="5" />
            <label for="PickClearVelocityPercentage">%</label>
        </div>

    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadRobotPickSettingsToPLC" title="Download to PLC">
            <img src="~/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveRobotPickSettings" title="Save to database">
            <img src="~/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshRobotPickSettingsFromRecipe" title="Load from database">
            <img src="~/icons/back.png" width="30">
        </button>
    </div>
</form>