﻿<form method="post">
    <button class="button" id="CloseSetupRobotPlace" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Robot place settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="PlaceOffsetZ" class="col-5">Offset Z</label>
            <input class="textbox" id="PlaceOffsetZ" name="PlaceOffsetZ" type="number" value="@Model.RobotPlaceSettingsModel.PlaceOffsetZ.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="PlaceOffsetZ">mm</label>
        </div>
        <div class="row">
            <label for="PlaceApproachVelocityPercentage" class="col-5">Approach velocity percentage</label>
            <input class="textbox" id="PlaceApproachVelocityPercentage" name="PlaceApproachVelocityPercentage" type="number" value="@Model.RobotPlaceSettingsModel.PlaceApproachVelocityPercentage.ToString("F0")" min="10" max="100" step="5" />
            <label for="PlaceApproachVelocityPercentage">%</label>
        </div>
        <div class="row">
            <label for="PlaceClearVelocityPercentage" class="col-5">Clear velocity percentage</label>
            <input class="textbox" id="PlaceClearVelocityPercentage" name="PlaceClearVelocityPercentage" type="number" value="@Model.RobotPlaceSettingsModel.PlaceClearVelocityPercentage.ToString("F0")" min="10" max="100" step="5" />
            <label for="PlaceClearVelocityPercentage">%</label>
        </div>

    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadRobotPlaceSettingsToPLC" title="Download to PLC">
            <img src="~/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveRobotPlaceSettings" title="Save to database">
            <img src="~/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshRobotPlaceSettingsFromRecipe" title="Load from database">
            <img src="~/icons/back.png" width="30">
        </button>
    </div>
</form>