﻿@page
@model Power_X1_iCT.Pages.SetupModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/magazineLoader.css" />
</head>
<div class="row container-fluid">
    <div class="module-card">
        <a href="MagazineLoader/SetupMagazineLoader">
            <img src="~/img/Modules/magazine-loader.png" style="border-radius:10px;" title="Magazine loader" />
        </a>
    </div>
    <div class="module-card">
        <a href="">
            <img src="~/img/Modules/cleaning-station.png" style="border-radius:10px;" title="Cleaning station" />
        </a>
    </div>
    <div class="module-card">
        <a href="">
            <img src="~/img/Modules/laser-marker.png" style="border-radius:10px;" title="Laser marker" />
        </a>
    </div>
    <div class="module-card">
        <a href="PressModule/SetupPressModule">
            <img src="~/img/Modules/press-module.png" style="border-radius:10px;" title="Press" />
        </a>
    </div>
    <div class="module-card">
        <a href="RobotToTrayUnloader/SetupRobotToTrayUnloader">
            <img src="~/img/Modules/robot-tray-offloader.png" style="border-radius:10px;" title="Robot to tray unloader" />
        </a>
    </div>
    <div class="setup-settings-card" style="margin-top:10px;width:280px;display:inline-block">
        <div>
            <h3 style="color:White; width:50%; float:left">Dry run</h3>
            <!-- Rounded switch -->
            <label class="switch">
                <input type="checkbox" id="InDryRun">
                <span class="slider round"></span>
            </label>
        </div>
        <div>
            <h3 style="color:White; width:50%; float:left">No AOI</h3>
            <!-- Rounded switch -->
            <form method="post" style="width: 50%; float: right">
                <label class="switch" id="NoAOI">
                    <input type="checkbox" asp-for="NoAoi">
                    <span class="slider round"></span>
                </label>
            </form>
        </div>
    </div>
    <div style="position:fixed; right:20px;top:123px">
        <button class="smallbutton" style="width:90px; height:90px;" onclick="location.href = './SecsGem/SetupSecsGem'">
            <img title="Inspection" src="~/icons/Connection.png" style="width:80px; height:80px;" />
        </button>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/framework.js"></script>
<script src="~/js/lineControl.js"></script>

@section Scripts{
    <script>
        $(function () {
            $("#InDryRun").change(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "./Setup?handler=ChangeDryRunEnabled",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    error: function (response) {
                        console.log("Error handler");
                        console.log(response);
                    },
                    success: function (response) {
                        console.log(response);
                        $('#result').text(response.message);
                    }
                });
            });
        });
    </script>
}

