﻿<form method="post">
    <button class="button" id="CloseSetupTrimming" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Trim settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="TopPosition" class="col-5">Top position</label>
           <input class="textbox" id="TopPosition" name="TopPosition" type="number" value="@Model.TrimmingSettingsModel.TopPosition.ToString("F2")" min="1.00" max="1025.00" step="0.10" />
            <label for="TopPosition">mm</label>
        </div>
        <div class="row">
            <label for="ClosePosition" class="col-5">Close position</label>
            <input class="textbox" id="ClosePosition" name="ClosePosition" type="number" value="@Model.TrimmingSettingsModel.ClosePosition.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="ClosePosition">mm</label>
        </div>
        <div class="row">
            <label for="RemovePosition" class="col-5">Remove position</label>
            <input class="textbox" id="RemovePosition" name="RemovePosition" type="number" value="@Model.TrimmingSettingsModel.RemovePosition.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="RemovePosition">mm</label>
        </div>
        <div class="row">
            <label for="MaintenancePosition" class="col-5">Maintenance position</label>
            <input class="textbox" id="MaintenancePosition" name="MaintenancePosition" type="number" value="@Model.TrimmingSettingsModel.MaintenancePosition.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="MaintenancePosition">mm</label>
        </div>
        <div class="row">
            <label for="Velocity" class="col-5">Velocity</label>
            <input class="textbox" id="Velocity" name="Velocity" type="number" value="@Model.TrimmingSettingsModel.Velocity.ToString("F2")" min="1.00" max="225.00" step="0.1" />
            <label for="Velocity">mm</label>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadTrimmingSettingsToPLC" title="Download to PLC">
            <img src="~/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveTrimmingSettings" title="Save to database">
            <img src="~/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshTrimmingSettingsFromRecipe" title="Load from database">
            <img src="~/icons/back.png" width="30">
        </button>
    </div>
</form>