﻿<form method="post">
    <button class="button" id="CloseSetupWasteHandler" title="Close settings" style="float:right; width:50px; height:50px">
        <img src="~/icons/close.png" style="width:35px; padding:1px" />
    </button>
</form>
<form method="post">
    <h2>Waste handler settings</h2>
    <div>&nbsp;</div>
    <div class="settings-card">
        <div class="row">
            <label for="AlmostMaxiumWasteCount" class="col-5">Almost full count</label>
            <input class="textbox" id="AlmostFullCount" name="AlmostFullCount" type="number" value="@Model.WasteHandlerSettingsModel.AlmostFullCount" min="1.00" max="1025.00" step="1" />
            <label for="AlmostFullCount">#</label>
        </div>
        <div class="row">
            <label for="MaximumWasteCount" class="col-5">Maximum waste count </label>
            <input class="textbox" id="MaximumWasteCount" name="MaximumWasteCount" type="number" value="@Model.WasteHandlerSettingsModel.MaximumWasteCount" min="1.00" max="25.00" step="1" />
            <label for="MaximumWasteCount">#</label>
        </div>        
    </div>
    <div>&nbsp;</div>
    <div class="text-center">
        <button class="button" asp-page-handler="DownloadWasteHandlerSettingsToPLC" title="Download to PLC">
            <img src="~/icons/download.png" width="30">
        </button>
        <button class="button" asp-page-handler="SaveWasteHandlerSettings" title="Save to database">
            <img src="~/icons/save.png" width="30">
        </button>
        <button class="button" asp-page-handler="RefreshWasteHandlerSettingsFromRecipe" title="Load from database">
            <img src="~/icons/back.png" width="30">
        </button>
    </div>
</form>