﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/production.css" />
</head>
<div>
    <img class="main-production-image" src="~/img/Power X1 iCT.png"/>
</div>
