﻿@page
@model Power_X1_iCT.Pages.PerformanceModel
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/production.css">
<div>
    <div class="row" style="height:35px">
        <div class="col-4">
            <h2 style="color:white;margin-left:20px">Tool force data </h2>
        </div>
        <div class="col-4">
            <h2 style="color:white;">Trim</h2>
        </div>
        <div class="col-4">
            <h2 style="color:white">Form</h2>
        </div>
    </div>
    <div style="height:340px;margin-left:10px;" class="row sempro-lotcontrol-card">
        <div class="col-3" style="height:330px">
            <label style="color:white">Actual data</label>
            <div class="settings-card">
                <div class="row">
                    <label class="col-4" style="color:white">Recipe:</label>
                    <label id="SelectedDeviceProcessed" style="color:black">ProductA</label>
                </div>
                <div class="row">
                    <label class="col-4" style="color:white">Lot:</label>
                    <label id="PerformanceLot" style="color:black">LotName_2022</label>
                </div>
                <div class="row">
                    <label class="col-4" style="color:white">Devices:</label>
                    <label id="PerformanceDeviceId" style="color:black">13</label>
                </div>
                <div class="row">
                    <label class="col-4" style="color:white">From:</label>
                    <label id="PerformanceDeviceCreated" style="color:black">23-02-2022 16:00</label>
                </div>
                <div class="row">
                    <label class="col-4" style="color:white">To:</label>
                    <label id="PerformanceDeviceCreated" style="color:black">23-02-2022 16:12</label>
                </div>
            </div>
        </div>
        <div style="height: 330px; min-width:550px;">
            <canvas id="maxTrimChart" style="background: var(--primary-color); border-radius: 10px;"></canvas>
        </div>
        &nbsp;
        &nbsp;
        <div style="height: 330px; min-width:550px">
            <canvas id="maxFormChart" style="background: var(--primary-color); border-radius: 10px"></canvas>
        </div>
    </div>
    <div class="seperator"></div>
    <div style="height: 340px; margin-left:10px;" class="row sempro-lotcontrol-card">
        <div class="col-3">
                <div class="col-12 row">
                    <div class="col-10">
                        <label style="color: white; margin-top:20px; margin-left:-15px">Historic data</label>
                        <input type="file" id="fileLoader" name="files" title="Load File" AutoStartUpload="true" style="display:none" />
                    </div>
                    <div class="col-2">
                        <button class="smallbutton" id="AddProductionData1Button" title="Add device data">
                            <img src="~/icons/plus.png" width="40">
                        </button>
                    </div>
                </div>
            <div class="settings-card" style=" max-width: 380px; min-height:100px; margin-top:10px; display:none" id="productionData1Container" >
                    <div style="max-width:450px;" class="row col-12">
                        <label class="col-4" style="color: white;">File:</label>
                        <label class="col-3" id="ProductionData1Label" style="color: black; max-width:100px">Not available</label>
                    </div>
                    <div style="max-width:450px;" class="row col-12">
                        <label class="col-4" style="color:white">Recipe:</label>
                        <label class="col-8" id="SelectedDeviceProcessed" style="color:black">Not available</label>
                    </div>
                    <div style="max-width:450px;" class="row col-12">
                        <label class="col-4" style="color:white">Lot:</label>
                        <label class="col-8" id="PerformanceLot" style="color:black">Not available</label>
                    </div>
                    <div style="max-width:450px;" class="row col-12">
                        <label class="col-4" style="color:white">Device:</label>
                        <label class="col-8" id="PerformanceDeviceId" style="color:black">Not available</label>
                    </div>
                    <div style="max-width:450px;" class="row col-12">
                        <label class="col-4" style="color:white">Time:</label>
                        <label class="col-8" id="PerformanceDeviceCreated" style="color:black">Not available</label>
                    </div>
            </div>
        </div>
        <div id="productionCharts1Container" style="height: 340px; display:none" class="row col-9">
            <div style="height: 330px; min-width:548px">
                <canvas id="trim1Chart" style="background: var(--primary-color); min-width: 485px; border-radius: 10px;"></canvas>
            </div>
            &nbsp;
            &nbsp;
            <div style="height: 330px; min-width:548px">
                <canvas id="form1Chart" style="background: var(--primary-color); min-width: 485px; border-radius: 10px"></canvas>
            </div>
        </div>
    </div>
    <div class="seperator"></div>
    <div style="height: 330px; margin-left:10px;display:none" class="row sempro-lotcontrol-card" id="forceLogging2Container">
        <div class="col-3">
            <div class="col-12 row">
                <div class="col-10">
                    <label style="color: white; margin-top:20px; margin-left:-15px">Historic data</label>
                    <input type="file" id="fileLoader2" name="files" title="Load File" AutoStartUpload="true" style="display:none" />
                </div>
                <div class="col-2">
                    <button class="smallbutton" id="AddProductionData2Button" title="Add device data">
                        <img src="~/icons/plus.png" width="40">
                    </button>
                </div>
            </div>
            <div class="settings-card" style="max-width: 380px; min-height: 100px; margin-top: 10px; display: none" id="productionData2Container">
                <div style="max-width:450px;" class="row col-12">
                    <label class="col-4" style="color: white;">File:</label>
                    <label class="col-3" id="ProductionData2Label" style="color: black; max-width:100px">Not available</label>
                </div>
                <div style="max-width:450px;" class="row col-12">
                    <label class="col-4" style="color:white">Recipe:</label>
                    <label class="col-8" id="SelectedDeviceProcessed2" style="color:black">Not available</label>
                </div>
                <div style="max-width:450px;" class="row col-12">
                    <label class="col-4" style="color:white">Lot:</label>
                    <label class="col-8" id="PerformanceLot2" style="color:black">Not available</label>
                </div>
                <div style="max-width:450px;" class="row col-12">
                    <label class="col-4" style="color:white">Device:</label>
                    <label class="col-8" id="PerformanceDeviceId2" style="color:black">Not available</label>
                </div>
                <div style="max-width:450px;" class="row col-12">
                    <label class="col-4" style="color:white">Time:</label>
                    <label class="col-8" id="PerformanceDeviceCreated2" style="color:black">Not available</label>
                </div>
            </div>
            </div>
            <div id="productionCharts2Container" style="height: 340px; display:none" class="row col-9">
                <div style="height: 330px; min-width: 548px">
                    <canvas id="trim2Chart" style="background: var(--primary-color); min-width: 485px; border-radius: 10px;"></canvas>
                </div>
                &nbsp;
                &nbsp;
                <div style="height: 330px; min-width:548px">
                    <canvas id="form2Chart" style="background: var(--primary-color); min-width: 485px; border-radius: 10px"></canvas>
                </div>
            </div>
        </div>
</div>
<script src="~/js/chart.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script title="chartOptions">
    const legendClickHandler = function (e, legendItem, legend) {
        const index = legendItem.datasetIndex;
        let ci = legend.chart;
        // when product is clicked, also hide the product line
        if (index == 4) {
            [ci.getDatasetMeta(3),
            ci.getDatasetMeta(4)
            ].forEach(function (meta) {
                meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;
            });
        }

        if (index != 4) {
            let meta = ci.getDatasetMeta(index);
            meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;
            ci.data.datasets[index].hidden = meta.hidden;
        }
        setMaximumValue(ci);
        ci.update();
    };

    var options = {
        plugins: {
            legend: {
                onClick: legendClickHandler,
                display: true,
                labels: {
                    color: 'white',
                    filter: function (item, chart) {
                        // Logic to remove a particular legend item goes here
                        return !item.text.includes('hidden');
                    },
                    font: { size: 16 }
                }
            },
            legendCallback: function (chart) {
                setMaximumValue(chart);
            },
            tooltip: {
                callbacks: {
                    label: function (ctx) {
                        if (ctx.datasetIndex == 3 || ctx.datasetIndex == 4)
                            return "";

                        var label = ctx.dataset.label;
                        label += " (" + ctx.parsed.y + ")";
                        return label;
                    }
                }
            }
        },
        scales: {
            y: {
                ticks: {
                    color: "white",
                    font: {
                        size: 16,
                    },
                    stepSize: 1,
                    beginAtZero: true,
                    maxTicksLimit: 10
                }
            },
            x: {
                ticks: {
                    color: "white",
                    font: {
                        size: 16
                    },
                    stepSize: 1,
                    beginAtZero: true,
                    maxTicksLimit: 10
                }
            }
        },
    }
</script>
<script title="maxTrimChart">
    const canvasMaxTrimChart = document.getElementById('maxTrimChart');

    const maxTrimChart = new Chart(canvasMaxTrimChart, {
        type: 'scatter',
        data: {
            labels: ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'],
            datasets: [{
                label: 'Maximum force on product [kN]',
                data: [{ x: 0, y: 65 }, { x: 5, y: 65 }, { x: 10, y: 65 }, { x: 25, y: 65 }, { x: 30, y: 65 },
                    { x: 35, y: 66 }, { x: 40, y: 66 }, { x: 50, y: 67 }, { x: 60, y: 67 },
                    { x: 70, y: 67 }, { x: 80, y: 67 }, { x: 90, y: 68 }, { x: 100, y: 67 }],
                backgroundColor: ['rgba(75, 192, 192, 0.5)'],
                borderColor: 'rgb(75, 192, 192)',
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                pointHitRadius: 10,
                showLine: true,
                beginAtZero: true
            }],        
        },
        options: options
    });
</script>
<script title="trim1Chart">
    const canvas1Trim = document.getElementById('trim1Chart');
    const trim1Chart = new Chart(canvas1Trim, {
        type: 'scatter',
        data: {
            labels: ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'],
            datasets: [{
                label: 'Current [mA]',
                backgroundColor: ['rgba(210, 235, 52, 0.5)'],
                borderColor: 'rgb(248, 255, 54)',
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                pointHitRadius: 10,
                showLine: true
            },
            {
                label: 'Torque [kN]',
                backgroundColor: ['rgba(0, 350, 70, 0.5)'],
                borderColor: 'rgb(0, 350, 70)',
                tension: 0.1,
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                showLine: true
            },
            {
                label: 'Following error [mm]',
                backgroundColor: ['rgba(255, 50, 50, 0.5)'],
                borderColor: 'rgb(255, 50, 50)',
                tension: 0.1,
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                showLine: true,
            },
            {
                data: [{ x: 25, y: 0 }, { x: 35, y: 0 }],
                label: 'hidden',
                backgroundColor: ['rgba(151,187,205,0.2)'],
                fill: true,
                borderWidth: 1,
                pointHoverRadius: 0,
                pointRadius: 0,
                showLine: false,
            },
            {
                data: [{ x: 24.8, y: 0 }, { x: 25.2, y: 0 }],
                label: 'Product',
                backgroundColor: ['rgba(151,187,205,0.6)'],
                fill: true,
                borderWidth: 0,
                pointHoverRadius: 0,
                showLine: false,
                pointRadius: 0,
            }],
        },
        options: options
    });
</script>
<script title="trim2Chart">
    const canvas2Trim = document.getElementById('trim2Chart');
    const trim2Chart = new Chart(canvas2Trim, {
        type: 'scatter',
        data: {
            labels: ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'],
            datasets: [{
                label: 'Current [mA]',
                backgroundColor: ['rgba(210, 235, 52, 0.5)'],
                borderColor: 'rgb(248, 255, 54)',
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                pointHitRadius: 10,
                showLine: true
            },
            {
                label: 'Torque [kN]',
                backgroundColor: ['rgba(0, 350, 70, 0.5)'],
                borderColor: 'rgb(0, 350, 70)',
                tension: 0.1,
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                showLine: true
            },
            {
                label: 'Following error [mm]',
                backgroundColor: ['rgba(255, 50, 50, 0.5)'],
                borderColor: 'rgb(255, 50, 50)',
                tension: 0.1,
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                showLine: true,
            },
            {
                data: [{ x: 25, y: 0 }, { x: 35, y: 0 }],
                label: 'hidden',
                backgroundColor: ['rgba(151,187,205,0.2)'],
                fill: true,
                borderWidth: 1,
                pointHoverRadius: 0,
                pointRadius: 0,
                showLine: false,
            },
            {
                data: [{ x: 24.8, y: 0 }, { x: 25.2, y: 0 }],
                label: 'Product',
                backgroundColor: ['rgba(151,187,205,0.6)'],
                fill: true,
                borderWidth: 0,
                pointHoverRadius: 0,
                showLine: false,
                pointRadius: 0,
            }],
        },
        options: options
    });
</script>
<script title="Chart functions">
    function addDataSetToChart(chart, index, dataSet) {

        var dataset = chart.data.datasets[index];
        var dataPoints = dataSet.Data;
        var sizeDifference = dataset.data.length - dataPoints.length;

        // Make the old array maximum the length of the new array
        if (sizeDifference > 0) {
            for (var i = 0; i < sizeDifference; i++) {
                dataset.data.pop();
            }
        }

        var counter = 0;
        dataPoints.forEach((value) => {
            if (counter < dataPoints.length) {
                dataset.data[counter] = (value);
                counter++;
            }
            else
                dataset.data.push(value);
        });

        chart.data.datasets[index].label = dataSet.Name;
        chart.update();
        setMaximumValue(chart);
    }

    function setMaximumValue(chart) {
        var maximum = 0;
        if (chart == undefined)
            return;

        chart.data.datasets.forEach((dataset) => {
            //dataset can be hidden by operator
            // or dataset can be hidden by code
            // or it is the product hit line
            if ((dataset.hidden == null || !dataset.hidden) &&
                dataset.label != 'hidden' &&
                dataset.label != 'Product') {
                dataset.data.forEach((data) => {
                    var value = data.y != null ? data.y : data;
                    if (value > maximum) {
                        maximum = value;
                    }
                });
            }
        });

        chart.data.datasets[3].data[0].y = maximum;
        chart.data.datasets[3].data[1].y = maximum;
        chart.data.datasets[4].data[0].y = maximum;
        chart.data.datasets[4].data[1].y = maximum;
        chart.update();
    }

    function setProductPosition(chart, position, sizeX) {
        if (chart == undefined)
            return;

        chart.data.datasets[3].data[0].x = position;
        chart.data.datasets[3].data[1].x = position + sizeX;
        chart.data.datasets[4].data[0].x = position - 0.01;
        chart.data.datasets[4].data[1].x = position + 0.01;
        chart.update();
    }
</script>

<script title="Add data 1">
    function AddForceLoggingProductionData1() {
        document.getElementById("fileLoader").click();
        $('#fileLoader').on('change', function (e) {
            var files = e.target.files;

            if (files.length > 0) {
                var fileName = files[0].name;
                addTrimForceloggingProductionData(trim1Chart, fileName);
                addFormForceloggingProductionData(form1Chart, fileName);
                $("#productionData1Container").show();
                $("#productionCharts1Container").show();
                $("#forceLogging2Container").show();                
                ProductionData1Label.textContent = fileName;
            }
        });
    }

    function AddForceLoggingProductionData2() {
        document.getElementById("fileLoader2").click();
        $('#fileLoader2').on('change', function (e) {
            var files = e.target.files;

            if (files.length > 0) {
                var fileName = files[0].name;
                addTrimForceloggingProductionData(trim2Chart, fileName);
                addFormForceloggingProductionData(form2Chart, fileName);
                $("#productionData2Container").show();
                $("#productionCharts2Container").show();
                ProductionData2Label.textContent = fileName;
            }
        });
    }

    function addTrimForceloggingProductionData(chart, input) {
        $.ajax({
            url: "../Performance/Performance?handler=GetTrimForceLoggingData",
            type: 'POST',
            data: { input: input },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
                alert("Error: " + "Unable to get data from webserver");
            },
            success: function (data) {
                var index = 0;
                data.data.DataSets.forEach((dataSet) => {
                    addDataSetToChart(chart, index, dataSet);
                    index++;
                });
                setProductPosition(chart, data.data.ProductPosition);
            }
        });
    }

    function addFormForceloggingProductionData(chart, input) {
        $.ajax({
            url: "../Performance/Performance?handler=GetFormForceLoggingData",
            type: 'POST',
            data: { input: input },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            error: function (response) {
                console.log("Error handler");
                console.log(response);
                alert("Error: " + "Unable to get data from webserver");
            },
            success: function (data) {
                var index = 0;
                data.data.DataSets.forEach((dataSet) => {
                    addDataSetToChart(chart, index, dataSet);
                    index++;
                });
                setProductPosition(chart, data.data.ProductPosition, data.data.ProductThickness);
            }
        });
    }

    $("#AddProductionData1Button").click(function (e) {
        e.preventDefault();
        AddForceLoggingProductionData1();
    });

    $("#AddProductionData2Button").click(function (e) {
        e.preventDefault();
        AddForceLoggingProductionData2();
    });
</script>
<script title="maxFormChart">
    const canvasMaxForm = document.getElementById('maxFormChart');
    const maxFormChart = new Chart(canvasMaxForm, {
        type: 'scatter',
        data: {
            labels: ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'],
            datasets: [{
                label: 'Maximum force on product [kN]',
                data: [{ x: 0, y: 42.12 }, { x: 5, y: 42.14 }, { x: 10, y: 42.35 }, { x: 25, y: 42.23 }, { x: 30, y: 43.8 },
                    { x: 35, y: 42.20 }, { x: 40, y: 42.29 }, { x: 50, y: 42 }, { x: 60, y: 42.65 },
                    { x: 70, y: 42.93 }, { x: 80, y: 42.89 }, { x: 90, y: 42.56 }, { x: 100, y: 42.41 }],
                backgroundColor: ['rgba(75, 192, 192, 0.5)'],
                borderColor: 'rgb(75, 192, 192)',
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                pointHitRadius: 10,
                showLine: true           
            }],
        },
        options: options
    });
</script>
<script title="Form1Chart">
    const canvas1Form = document.getElementById('form1Chart');
    const form1Chart = new Chart(canvas1Form, {
        type: 'scatter',
        data: {
            labels: ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'],
            datasets: [{
                label: 'Current [mA]',
                backgroundColor: ['rgba(210, 235, 52, 0.5)'],
                borderColor: 'rgb(248, 255, 54)',
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                pointHitRadius: 10,
                showLine: true
            },
            {
                label: 'Torque [kN]',
                backgroundColor: ['rgba(0, 350, 70, 0.5)'],
                borderColor: 'rgb(0, 350, 70)',
                tension: 0.1,
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                showLine: true
            },
            {
                label: 'Following error [mm]',
                backgroundColor: ['rgba(255, 50, 50, 0.5)'],
                borderColor: 'rgb(255, 50, 50)',
                tension: 0.1,
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                showLine: true,
            },
            {
                data: [{ x: 25, y: 0 }, { x: 35, y: 0 }],
                label: 'hidden',
                backgroundColor: ['rgba(151,187,205,0.2)'],
                fill: true,
                borderWidth: 1,
                pointHoverRadius: 0,
                pointRadius: 0,
                showLine: false,
            },
            {
                data: [{ x: 24.8, y: 0 }, { x: 25.2, y: 0 }],
                label: 'Product',
                backgroundColor: ['rgba(151,187,205,0.6)'],
                fill: true,
                borderWidth: 0,
                pointHoverRadius: 0,
                showLine: false,
                pointRadius: 0,
            }],
        },
        options: options
    });
</script>
<script title="Form2Chart">
    const canvas2Form = document.getElementById('form2Chart');
    const form2Chart = new Chart(canvas2Form, {
        type: 'scatter',
        data: {
            labels: ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'],
            datasets: [{
                label: 'Current [mA]',
                backgroundColor: ['rgba(210, 235, 52, 0.5)'],
                borderColor: 'rgb(248, 255, 54)',
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                pointHitRadius: 10,
                showLine: true
            },
            {
                label: 'Torque [kN]',
                backgroundColor: ['rgba(0, 350, 70, 0.5)'],
                borderColor: 'rgb(0, 350, 70)',
                tension: 0.1,
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                showLine: true
            },
            {
                label: 'Following error [mm]',
                backgroundColor: ['rgba(255, 50, 50, 0.5)'],
                borderColor: 'rgb(255, 50, 50)',
                tension: 0.1,
                fill: false,
                borderWidth: 2,
                pointHoverRadius: 5,
                showLine: true,
            },
                {
                data: [{ x: 25, y: 0 }, { x: 35, y: 0 }],
                label: 'hidden',
                backgroundColor: ['rgba(151,187,205,0.2)'],
                fill: true,
                borderWidth: 1,
                pointHoverRadius: 0,
                pointRadius: 0,
                showLine: false,
            },
            {
                data: [{ x: 24.8, y: 0 }, { x: 25.2, y: 0 }],
                label: 'Product',
                backgroundColor: ['rgba(151,187,205,0.6)'],
                fill: true,
                borderWidth: 0,
                pointHoverRadius: 0,
                showLine: false,
                pointRadius: 0,
            }],
        },
        options: options
    });
</script>



