﻿@page
@model Power_X1_iCT.Pages.NoConnectionToThePLC
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">

<div class="container-fluid">
        <span style="padding: 1rem" class="row">Lower deck is almost full</span>
        <span style="padding: 1rem" class="row">The lower deck almost full sensor indicates the deck is almost full</span>
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">- Please remove the empty magazines before the deck is full</span></p>
        </div>
</div>

