﻿@page
@model Power_X1_iCT.Pages.NoConnectionToThePLC
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">

<div class="container-fluid">
        <span style="padding: 1rem" class="row">Lift can no longer place magazines on the unloading deck</span>
        <span style="padding: 1rem" class="row">The unloading deck full sensor indicates the deck is full </span>
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">1. Remove magazines and make sure the deck sensor indicates it is not full</span></p>
            <p style="display:table-row"><span style="display: table-cell">2. Check if the sensor is working correctly</span></p>
        </div>
</div>

