﻿@page
@model Power_X1_iCT.Pages.NoConnectionToThePLC
@{
}
@Html.AntiForgeryToken()
<link rel="stylesheet" href="~/css/events.css">

<div class="container-fluid">
        <span style="padding: 1rem" class="row">The orientation of the magazine at the front of the loading deck is incorrect  </span>
        <span style="padding: 1rem" class="row">The lift will be unable to load this magazine </span>
        <div style="display:table; flex-direction:column;">
            <p style="display:table-row"><span style="display: table-cell">1. Make sure the magazine is in the correct orientation</span></p>
            <p style="display:table-row"><span style="display: table-cell">2. Check if the sensor is working correctly</span></p>
        </div>
</div>

